<!DOCTYPE html>
@{ 
    Layout = null;
}
<html class="report-server">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>
        Add New Report
    </title>
    @Styles.Render("~/styles/report-process-options")
    @Scripts.Render("~/scripts/report-process-options")
    <script>
    var saveReportOptionUrl = "@Url.Action("AddProcessingOption", "reports")";
    var reportProcessOptionScheduleUrl = "@Url.Action("ReportProcessOptionsSchedule", "reports")";
    var itemList = @Html.Raw(ViewBag.itemList);
    var categoryList = @Html.Raw(ViewBag.categoryList);
    var selectedItemList = @Html.Raw(ViewBag.selectedItemList);
    var option = @Html.Raw(ViewBag.ProcessOption);
    var categoryItems = @Html.Raw(ViewBag.ItemCategoryMappingList);

        function load() {
            $('[data-toggle="tooltip"]').tooltip();
            if (($(parent.window).width()) > 1400) {
                $(".dialog").addClass("iframe");
            }

            if (($(parent.window).width()) < 1400) {
                $(".dialog").removeClass("iframe");
            }
        }

        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        var categoryOptions = "";
        for (var t = 0; t < categoryList.length; t++) {
            categoryOptions = categoryOptions + "<option value='" + categoryList[t].Id + "'>" + categoryList[t].Name + "</option>";
        }
        $("#categoryList").html(categoryOptions);
        var dashboardOption = "";
        for (var t = 0; t < itemList.Count; t++) {
            var isSelected = $.inArray(itemList.Result[t].Id, selectedItemList);

            var selection = "";
            if (isSelected >= 0) {

                var reportTile = $("<div>").attr("id", itemList.Result[t].Id).attr("data-searchtype", "reportSearch").addClass("SelectedShareItems");
                reportTile.html("<div class='InstantSearch'><span class='details' title='" + itemList.Result[t].Name + "'>" + itemList.Result[t].Name + "</span><div style='width:auto' class='instant-cancel'><span class='su su-close i-selected-cancel' /></div></div>");
                $("#SelectedUsers").append(reportTile);
                if($("#categoryList option[value='" + itemList.Result[t].CategoryId + "']:selected").length == 0)
                {
                    var userTile = $("<div>").attr("id", itemList.Result[t].CategoryId).attr("data-searchtype", "categorySearch").addClass("SelectedShareItems");
                    userTile.html("<div class='InstantSearch'><span class='details' title='" + itemList.Result[t].CategoryName + "'>" + itemList.Result[t].CategoryName + "</span><div style='width:auto' class='instant-cancel'><span class='su su-close i-selected-cancel' /></div></div>");
                    $("#SelectedUsers").append(userTile);
                    $("#categoryList option[value='" + itemList.Result[t].CategoryId + "']").attr("selected", true);
                }
                selection = "selected='selected'";
            }
            dashboardOption = dashboardOption + "<option data-CategoryId='" + itemList.Result[t].CategoryId + "' value='" + itemList.Result[t].Id + "' " + selection + ">" + itemList.Result[t].Name + "</option>";
        }

        $("#reportList").html(dashboardOption);
        $("#categoryList,#reportList").selectpicker("refresh");
        $(document).on("click", ".PopupClose", function(e) {
            closePopup();
        });
        $(".add-report-processing-module .bs-deselect-all").after("<div class='bs-select-all-custom'><span>[[[Select All]]]</span><span class='bs-select-custom-tick glyphicon glyphicon-ok'></span></div>");
        selectReportList();

        selectedItemsCount();
        });
    </script>
</head>
<body style="background-color:white" onload="load();">

    <div id="createReportPopupHolder" class="add-report-processing-module col-lg-12 no-padding dialog">
        <div class="col-xs-12 dialog-header">
            <span class="su su-cache_3 Head-icon"></span>
            <span class="PopupTitle">[[[Processing Options]]]</span>
            <a href="javascript:void(0);" class="PopupClose" title="[[[Close]]]" data-toggle="tooltip" data-placement="bottom"><span class="su su-close"></span></a>
        </div>
        <div class="col-xs-12">
            <span class="caption heading">[[[Specify properties that determine how the report server runs the reports]]]</span>
        </div>
        <form id='Report_process_Option_form' class='col-xs-12 no-top-margin add-report-form' autocomplete="off">
            <div class='dialog-body col-xs-12 no-padding   new-rdl-content-holder' id='Report_process_Option_holder'>
                <table cellspacing='10' cellpadding='0' border='0' width='100%'>

                    <tbody>
                        <tr class="">
                            <td colspan="2" class="col-xs-2 no-right-padding">
                                <div class="TopOption top-margin15">
                                    @Html.RadioButton("DataRender", "0", new { @class = "css-radio", @id = "RecentData", @checked = "" })
                                    @Html.Label("RecentData", "[[[Always run this report with the most recent data]]]", new { @class = "text notransition" })
                                </div>
                            </td>
                        </tr>
                        <tr class="recentDataContainer">
                            <td colspan="2" class="col-xs-2 no-right-padding">
                                <div class="bottom-margin30 TopOption1">
                                    <div class="TopOption1Tab1">
                                        <div class="col-xs-12 column">
                                            @Html.RadioButton("IsNeedCache", "0", new { @class = "css-radio", @id = "NoCache" })
                                            @Html.Label("NoCache", "[[[Do not cache temporary copies of this report]]]", new { @class = "text notransition" })
                                        </div>
                                        <div class="col-xs-12 column">
                                            @Html.RadioButton("IsNeedCache", "1", new { @class = "css-radio", @id = "CacheWithTime" })
                                            @Html.Label("CacheWithTime", "[[[Cache a temporary copy of the report. Expire copy of report after a number of minutes : ]]]", new { @class = "text notransition" })
                                            <input type="text" class="minutesInput" disabled="disabled" value="30" name="Minutes" /> mins
                                            <span class="error-messages property-error-messages text" id="minutesInputValidation">Please enter the number of minutes greater than zero</span>
                                        </div>
                                        <div class="col-xs-12 column">
                                            @Html.RadioButton("IsNeedCache", "2", new { @class = "css-radio", @id = "CacheWithSchedule" })
                                            @Html.Label("CacheWithSchedule", "[[[Cache a temporary copy of the report. Expire copy of report on the following schedule]]]", new { @class = "text notransition" })
                                        </div>
                                    </div>
                                    <div class="TopOption1Tab2">
                                        <div class="col-xs-12 column">
                                            @Html.RadioButton("Configureschedule", "1", new { @class = "css-radio", @id = "ScheduleCache" })
                                            @Html.Label("ScheduleCache", "[[[Report specific schedule]]]", new { @class = "text notransition" })
                                            <input type="button" disabled="disabled" name="configure" id="configure" class="configure btn primary-button" data-form="recentdata" value="Configure" />
                                            <span class="error-messages property-error-messages text" id="cacheValidation">Please schedule the date for report caching</span>
                                        </div>
                                        <div class="col-xs-12 ScheduleContent padding5" id="ScheduleContent"></div>
                                        <span class="reportCacheSchedule">
                                            <input type="hidden" id="hiddenprocessSchedule" class="hiddenprocessSchedule" value="" />
                                            <input type="hidden" id="itemId" value="@Request["itemId"]" />
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="">
                            <td colspan="2" class="col-xs-2 no-right-padding">
                                <div class="top-margin30 TopOption">
                                    @Html.RadioButton("DataRender", "1", new { @class = "css-radio", @id = "SnapShotData" })
                                    @Html.Label("SnapShotData", "[[[Render this report from a report snapshot]]]", new { @class = "text notransition" })
                                </div>
                            </td>
                        </tr>
                        <tr class="snapshotContainer disabled">
                            <td colspan="2" class="col-xs-2 no-right-padding">
                                <div class="bottom-margin30 TopOption1">
                                    <div class="TopOption1Tab1">
                                        <div class="col-xs-12 column">
                                            @Html.CheckBox("ConfigureSnapshot", new { @class = "material-checkbox", @id = "SnapshotCache", @disabled = "disabled" })
                                            @Html.Label("SnapshotCache", "[[[Use the following schedule to create report snapshots:]]]", new { @class = "text notransition" })
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="snapshotContainer disabled">
                            <td colspan="2" class="col-xs-2 no-right-padding">
                                <div class="bottom-margin30 TopOption1">
                                    <div class="TopOption1Tab2">
                                        <div class="col-xs-12 column">
                                            @Html.RadioButton("ConfigurescheduleSnapshot", "0", new { @class = "css-radio", @id = "SnapshotScheduleCache" })
                                            @Html.Label("SnapshotScheduleCache", "[[[Report specific schedule]]]", new { @class = "text notransition" })
                                            <input type="button" disabled="disabled" name="configure" id="configure" class="configure btn primary-button" data-form="snapshot" value="Configure" />
                                            <span class="error-messages property-error-messages" id="snapshotValidation">Please schedule the date for report snapshot</span>
                                        </div>
                                        <div class="col-xs-12 ScheduleContent padding5" id="snapshotScheduleContent"></div>
                                        <span class="reportCacheSchedule">
                                            <input type="hidden" id="snapshothiddenprocessSchedule" class="hiddenprocessSchedule" value="" />
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-12 col-xs-12 no-padding subscribe-popup-body" id="SubscribersPanel" style="display: none;">
                <div class="col-sm-12 col-xs-12 no-padding share-popup">
                    <div id="category_Container" class="col-sm-5 col-xs-5 no-margin i-search-fields">
                        <select class="selectpicker" id="categoryList" multiple="" data-hide-disabled="true" data-live-search="true" data-actions-box="true" title="[[[Select Categories]]]"></select>
                    </div>
                    <div id="report_Container" class="col-sm-4 col-xs-4 no-margin i-search-fields">
                        <select class="selectpicker" id="reportList" multiple="" data-hide-disabled="true" data-live-search="true" data-actions-box="true" title="[[[Select Reports]]]"></select>
                        <span class="error-messages text" id="reportListValidation">Please choose atleast single report from the dropdown list</span>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 no-padding cls-float" id="SelectedUsersContainer">
                    <div style="width:96% !important; height:304px;" class="col-sm-3 col-xs-3 selected-recipients cls-float" id="SelectedUsers"></div>
                </div>
                <div id="selectedUsersValidation" class="text">[[[Please select Reports or Categories]]]</div>
                <div id="selectedReportsInfo" class="col-sm-12 col-xs-12 no-margin i-search-fields" style="display:block"></div>
            </div>
        </form>
        <div class='col-md-12 new-report-button-holder dialog-footer' id="saveProcessButton">
            <div class="MultipleConfigure">
                <input id="ConfigureMultipleItem" type="button" title="[[[Select multiple Reports]]]" value="[[[Select multiple Reports]]]" class="link-button pull-left button-left heading">
            </div>
            <div class='create-rdl-btns'>
                <input type='button' title="" value='[[[Save]]]' id='save_report_option' class='btn primary-button small-right-margin'>
                <input type='button' title="" value='[[[Cancel]]]' class='btn secondary-button NoStyleCloseClick' onclick="closeReportOptionPopup()">
            </div>
        </div>
        <div class='col-md-12 new-report-button-holder dialog-footer' id="nextProcessButton" style="display: none;">
            <div class='create-rdl-btns'>
                <input type='button' title="" value='[[[Next]]]' id='next_report_option' class='btn primary-button small-right-margin'>
                <input type='button' title="" value='[[[Cancel]]]' class='btn secondary-button NoStyleCloseClick' onclick="closeReportOptionPopup()">
            </div>
        </div>
    </div>
</body>
</html>