@{
    ViewBag.Title = GlobalAppSettings.SystemSettings.OrganizationName + " - [[[Users List]]]";
}

@section styles{
    @Styles.Render("~/Styles/user-management-module")

}

@section scripts{

    @Scripts.Render("~/Scripts/user-management")
    <script>
        var checkMailSettingUrl = "@Url.Action("checkmailsettingsexist", "Administration")";
        var postactionUrl = "@Url.Action("postaction", "UserManagement")";
        var isPresentEmailId = "@Url.Action("IsPresentEmailId", "UserManagement")";
        var isPresentusernameUrl = "@Url.Action("IsPresentusername", "UserManagement")";
        var updateUserIntoGroupUrl = "@Url.Action("UpdateUserIntoGroup", "UserManagement")";
        var checkGroupnameUrl = "@Url.Action("CheckGroupname", "Group")";
        var getAddUserInGroupDialogUrl = "@Url.Action("GetAddUserInGroupDialog", "UserManagement")";
        var saveUserIntoGroupUrl = "@Url.Action("SaveUserIntoGroup", "UserManagement")";
        var avatarUrl = "@Url.Action("Avatar", "UserManagement")";
        var getAllActiveGroupListUrl = "@Url.Action("GetAllActiveGroupList", "UserManagement")";
        var deleteFromUserListUrl = "@Url.Action("DeleteFromUserList", "UserManagement")";
        var userPageUrl = "@Url.Action("Index", "UserManagement")";
        var saveSelectedCSVUserUrl = "@Url.Action("SaveSelectedCSVUser", "UserManagement")";
        var deleteSingleFromUserListUrl = "@Url.Action("DeleteSingleFromUserList", "UserManagement")";
        var getAllUsersUrl = "@Url.Action("GetAllActiveInactiveUsers", "UserManagement")";
        var getResultDataUrl = "@Url.Action("GetUserDataForImportFromDatabase", "UserManagement")";

    </script>
    <script>
        window.data = JSON.parse(@Html.Raw(Json.Encode(ViewBag.users)));
    </script>
    <script type="text/javascript">
        function selectItems(e) {
            var parentRow = $(e.event.currentTarget.parentNode).parents(".user-row-details");
            $(parentRow).hasClass('user-table-row-selected') ? $(parentRow).removeClass('user-table-row-selected') : $(parentRow).addClass("user-table-row-selected");
            ($(".grid-view-table").find(".user-table-row-selected").length > 0) ? $("#add-user-in-group").fadeIn("slow") : $("#add-user-in-group").fadeOut("slow");
        }

    </script>

    <script type="text/x-jsrender" id="user-profile-template">
        <a class="item-name grid-content" title="{{:DisplayName}}" data-toggle="tooltip" href="@Url.Action("ViewProfile", "UserManagement")?username={{:UserName}}">{{:DisplayName}}</a>
        {{if IsActiveDirectoryUser}}
        <span class="su su-windows-ad grid-directory-icon"> </span>
        {{else IsAzureADUser}}
        <span class="su su-azure-ad grid-directory-icon"> </span>
        {{else IsDatabaseUser}}
        <span class="su su-datasource grid-directory-icon"> </span>
        {{/if}}
    </script>
    <script type="text/x-jsrender" id="user-email-template">
        <span class="grid-content" title="{{:Email}}" data-toggle="tooltip">{{:Email}}</span>
    </script>
    <script type="text/x-jsrender" id="status-description-template">
        {{if StatusDescription=="Active"}}
        [[[Active]]]
        {{else StatusDescription== "Inactive"}}
        [[[Inactive]]]
        {{/if}}
    </script>
    <script type="text/x-jsrender" id="itemname-header">
        <div class="item-name">[[[Name]]]</div>
    </script>
    <script type="text/x-jsrender" id="email-header">
        <div class="item-header">[[[Email Address]]]</div>
    </script>
    <script type="text/x-jsrender" id="status-header">
        <div class="item-header">[[[Status]]]</div>
    </script>

    <script type="text/x-jsrender" id="options">
        <div class="dropdown">
            <span class="dropdown-toggle option-icon" data-toggle="dropdown" data-content="{{:UserName}}">
                <span class="su su-options"> </span>
            </span>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="@Url.Action("userpermission", "permission")?userId={{:UserId}}" title="">
                        <i class="su su-settings-2"></i>
                        <span>[[[Manage Permissions]]]</span>
                    </a>
                </li>
                <li class="divider" role="separator"></li>
                <li>
                    <a href="@Url.Action("ViewProfile", "UserManagement")?username={{:UserName}}" title="">
                        <i class="su su-eye"></i>
                        <span>[[[View]]]</span>
                    </a>
                </li>
            </ul>
        </div>
    </script>

    <script type="text/javascript">
        $(function () {
            $("#search-users").val("");
            var data = ej.DataManager({
                url: "@Url.Action("GetAllUserList", "UserManagement")",
                adaptor: new ej.UrlAdaptor()
            });

            $("#user_grid").ejGrid({
                dataSource: data,
                gridLines: ej.Grid.GridLines.None,
                allowPaging: true,
                allowSorting: true,
                allowSearching: true,
                allowSelection: true,
                allowFiltering: true,
                pageSettings: { pageSize: 20 },
                filterSettings: { filterType: "menu" },
                selectionType: ej.Grid.SelectionType.Multiple,
                selectionSettings: { selectionMode: ["row"] },
                enableRowHover: true,
                enableAltRow: false,
                rowDataBound: function () {
                    var height = $(".e-gridcontent").height();
                    if (height != null) {
                        rowBound();
                    }
                },
                dataBound: function (args) {
                    $('[data-toggle="tooltip"]').tooltip();
                },
                rowSelecting: function (e) {
                    this.multiSelectCtrlRequest = true;
                },
                rowSelected: "fnUserRowSelected",
                recordClick: "fnUserRecordClick",
                load: "fnOnUserGridLoad",
                actionBegin: "fnOnUserGridActionBegin",
                actionComplete: "fnOnUserGridActionComplete",
                columns: [
                    {
                        template: true,
                        allowSorting: true,
                        templateID: "#user-profile-template",
                        headerText: "[[[Name]]]",
                        width: 115,
                        headerTemplateID: "#itemname-header",
                        field: "DisplayName",
                        type: "string"
                    },
                    {
                        field: "Email",
                        templateID: "#user-email-template",
                        headerText: "[[[Email Address]]]",
                        headerTemplateID: "#email-header",
                        type: "string",
                        width: 155
                    },
                    {
                        field: "StatusDescription",
                        headerText: "[[[Status]]]",
                        headerTemplateID: "#status-header",
                        templateID: "#status-description-template",
                        width: 80,
                        allowFiltering: false
                    },
                    {
                        template: true,
                        allowSorting: false,
                        templateID: "#options",
                        width: 18,
                        allowFiltering: false
                    }
                ]

            });
        });
    </script>
}

@section MainSection{
    @Html.Partial("_UserMenu")

    <div id="base-container" class="col-xs-12 admin-page-container no-padding ">
        <div class="col-lg-12 admin-page-header">
            <div class="col-xs-12 no-padding" id="user-title">
                <h1 class="pull-left col-lg-6 no-padding page-title">
                    <input type="hidden" id="user-count-text" value="@ViewBag.UserCount">
                    [[[USERS]]] (<span id="user-count" value="@ViewBag.UserCount">@ViewBag.UserCount</span>)
                </h1>

                <ul class="pull-right col-lg-6 no-margin no-padding" id="user-management-options">
                    <li class="dropdown no-padding">
                        @if (DeviceDetection.IsMobile)
                        {
                            <button class="primary-button" id="new-user-dropdown" title="[[[Add new user]]]" onclick="onUserAddDialogOpen()">
                                [[[New User]]]
                            </button>
                        }
                        else
                        {
                            <button class="dropdown-toggle primary-button" data-toggle="dropdown" id="new-user-dropdown" title="[[[Add new user]]]">
                                <span>[[[New User]]] </span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu add-user-dropdown multi-level" role="menu" id="dropdown-options">
                                <li id="create-user" title="[[[Add new user]]]" onclick="onUserAddDialogOpen()">
                                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="[[[Add new user]]]">
                                        <i class="su su-user-add"> </i>
                                        <span>[[[Create User]]]</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("UploadFileFormAction", "UserManagement")" data-toggle="tooltip" data-placement="top" title="[[[Import users from CSV]]]">
                                        <i class="su su-download"> </i>
                                        <span>[[[Import from CSV]]]</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-toggle" href="@Url.Action("ActiveDirectoryUserImport", "UserManagement")" data-toggle="tooltip" data-placement="top" title="[[[Import users from Active Directory]]]">
                                        <i class="su su-windows-ad"> </i>
                                        <span>[[[Import from Active Directory]]]</span>
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-toggle" href="@Url.Action("AzureADUserImport", "usermanagement")" data-toggle="tooltip" data-placement="top" title="[[[Import users from Azure AD]]]">
                                        <i class="su su-azure-ad"> </i>
                                        <span>[[[Import from Azure AD]]]</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-toggle" href="@Url.Action("GetUserDataForImportFromDatabase", "usermanagement")" data-toggle="tooltip" data-placement="top" title="[[[Import users from Database]]]">
                                        <i class="su su-datasource"> </i>
                                        <span>[[[Import from Database]]]</span>
                                    </a>
                                </li>
                            </ul>
                        }
                    </li>

                    @if (ViewBag.ActiveDirectory != null  ||  ViewBag.CustomDatabaseUserCount != null || ViewBag.AzureAD != null)
                    {
                        <li class="dropdown no-padding">
                            <button class="dropdown-toggle primary-button" data-toggle="dropdown" id="synchronize-dropdown" title="[[[Synchronize Users]]]">
                                <span>[[[Synchronize]]] </span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu sync-user-dropdown multi-level" role="menu" id="dropdown-options">
                                @if (ViewBag.ActiveDirectory != null)
                                {
                                    <li>
                                        <a class="dropdown-toggle" href="@Url.Action("SynchronizeUsers", "UserManagement")" data-toggle="tooltip" data-placement="left" title="[[[Synchronize users with Active Directory]]]">
                                            <i class="su su-windows-ad"> </i>
                                            <span>[[[Active Directory Synchronization]]]</span>
                                        </a>
                                    </li>
                                }
                                @if (ViewBag.AzureAD != null)
                                {
                                    <li>
                                        <a class="dropdown-toggle" href="@Url.Action("SynchronizeAzureUsers", "UserManagement")" data-toggle="tooltip" data-placement="left" title="[[[Synchronize users with Azure AD]]]">
                                            <i class="su su-azure-ad"> </i>
                                            <span>[[[Azure AD Synchronization]]]</span>
                                        </a>
                                    </li>
                                }
                                @if (ViewBag.CustomDatabaseUserCount != null)
                                {
                                    <li>
                                        <a class="dropdown-toggle" href="@Url.Action("SynchronizeCustomDatabaseUsers", "UserManagement")" data-toggle="tooltip" data-placement="left" title="[[[Synchronize users with Custom Database]]]">
                                            <i class="su su-data-base-sync"> </i>
                                            <span>[[[Database Synchronization]]]</span>
                                        </a>
                                    </li>
                                }
                                <li class="ums-user-synchronization">
                                    <a class="dropdown-toggle" href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="[[[Synchronize users from UMS]]]">
                                        <i class="su su-ums-sync"> </i>
                                        <span>[[[UMS Synchronization]]]</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    }
                    else
                    {                      
                            <li>
                                <a href="javascript:void(0)" class="link-button ums-user-synchronization"  title="[[[Synchronize users from UMS]]]" data-toggle="tooltip" data-placement="left">[[[UMS Synchronization]]]</a>
                            </li>
                    }
                   
                </ul>
            </div>
        </div>

        <div id="user-list-container" class="list col-xs-12 admin-page-body">
            <div id="search-area" class="pull-right">
                <input type="text" class="pull-left" id="search-users" placeholder="[[[Search users]]]" />
                <span class="su su-inner-close close-icon pull-left" id="clear-search" title="[[[Clear search]]]"></span>
                <span class="su su-search search-user pull-left" title="[[[Search]]]"></span>
            </div>
            <div class="col-xs-12 no-padding ">
                <div id="user_grid">
                </div>
            </div>

            @if (ViewBag.AdUserCount > 0)
            {
                <div id="ad-indication" class="ad-azure-indication col-lg-12"><span class="su su-windows-ad"> </span> - [[[Active Directory User]]]</div>
            }
            @if (ViewBag.AzureADUserCount > 0)
            {
                <div id="azure-ad-indication" class="ad-azure-indication col-lg-12"><span class="su su-azure-ad"> </span> - [[[Azure AD User]]]</div>
            }
            @if (ViewBag.DatabaseUserCount > 0)
            {
                <div id="database-indication" class="ad-azure-indication col-lg-12"><span class="su su-datasource"> </span> - [[[Database User]]]</div>
            }
        </div>
    </div>

    @Html.Partial("../UserManagement/_UserAddDialog")
    @Html.Partial("../UserManagement/_LimitUserCreation")
}