@{
    ViewBag.Title = "[[[User Profile]]] : " + @ViewBag.UserDetails.DisplayName + " - " + GlobalAppSettings.SystemSettings.OrganizationName;
}
<script>
    var checkMailSettingUrl = "@Url.Action("checkmailsettingsexist", "Administration")";
    var activateUserUrl = "@Url.Action("ActivateUser", "UserManagement")";
    var resendactivationcodeUrl = "@Url.Action("resendactivationcode", "UserManagement")";
    var updateprofilepictureUrl = "@Url.Action("updateprofilepicture", "user")";
    var fileUploadUrl = "@Url.Action("Upload", "fileupload")";
    var UpdatePasswordUrl = "@Url.Action("UpdatePassword", "UserManagement")";
    var updateUserProfileUrl = "@Url.Action("UpdateUserProfile", "UserManagement")";
    var emailSettingsUrl = "@Url.Action("e-mail-settings", "administration")";
    var rootBaseUrl = "@Url.Content("~/")";
    if (rootBaseUrl.toLowerCase() == "/")
        rootBaseUrl = "";
    var deleteSingleFromUserListUrl = "@Url.Action("DeleteSingleFromUserList", "UserManagement")";
    var avatarUrl = "@Url.Action("Avatar", "UserManagement")";
    var userPageUrl = "@Url.Action("Index", "UserManagement")";
    var deleteavatarUrl = "@Url.Action("deleteavatar", "User")";
    var getdefaultavatarUrl = "@Url.Action("getdefaultavatar", "User")";
</script>
@section styles{
    @Styles.Render("~/Styles/user-management-profile")
}

@section scripts{
    @Scripts.Render("~/Scripts/user-management-profile")

    <script>

        $(document).ready(function () {
            $("[data-title=tooltip]").tooltip();
        });
    </script>
}
@section MainSection{

<div id="base_container">
    <div class="UserHeader col-xs-12 no-left-padding no-right-padding padding15">

        <div class="col-xs-12 col-md-7 UserHead no-left-padding">
                <a href="@Url.Action("ViewProfile", "UserManagement")?username=@ViewBag.UserDetails.UserName" data-toggle="tooltip" data-placement="top" title="[[[View User]]]">

                    <div class="report-security-head back-navigaion">
                        <i class="su su-back ">
                        </i>
                    </div>
                </a>
            <span data-toggle="tooltip" data-placement="top" title="@ViewBag.UserDetails.DisplayName">@ViewBag.UserDetails.DisplayName</span>
        </div>
        <input type="hidden" id="user-name-hidden" value="@ViewBag.UserDetails.UserName" class="form-control" />
        <div class="col-xs-12 col-md-5">

            @if (@ViewBag.UserDetails.UserName.ToLower() != ViewBag.LoggedUser.ToLower())
            {
                <input type="button" id="edit_profile_delete" name="Cancel" class="btn btn-danger user-delete" data-toggle="tooltip" data-placement="top" title="" value="[[[Delete User]]]" onclick="onDeleteDialogOpen();" />
            }
            <a class="pull-right" href="@Url.Action("userpermission", "permission")?userId=@ViewBag.UserDetails.UserId" title="">
                <input type="button" class="btn btn-default" value="[[[Manage Permissions]]]">
            </a>
        </div>
    </div>

    <div class="col-xs-12 profile_section">
        <form class="col-xs-11 user_profile_form" autocomplete="off">
            <table class="user-profile-table pull-left form" cellpadding="20">
                <tr>
                    <td valign="top" class="NotificationContent">
                        [[[Profile Picture]]]<br />
                        <span style="color: #555555; font-size: 13px;">*200x200 [[[pixel size recommended]]].</span>
                    </td>
                    <td>
                        <div class="img-view-holder">
                            <img id="profile-picture1" src="@Url.Action("Avatar", "UserManagement")?Username=@ViewBag.UserDetails.UserName&ImageSize=150" width="150" />
                            <span class="su su-edit" id="avatarButtonclick" data-toggle="tooltip" data-placement="top" title="[[[Edit profile picture]]]"></span>
                            @if (ViewBag.UserDetails.Avatar.ToString().Trim() != "")
                            {
                                <span class="su su-delete" id="avatarDeleteclick" data-toggle="tooltip" data-placement="top" title="[[[Delete profile picture]]]"></span>
                            }
                        </div>
                    </td>
                    <td><span id="updation_validation_message" class="SuccessMessage rightAlign padding15 profile_save_button"></span></td>
                </tr>
                <tr>
                    <td class="NotificationContent">[[[Username]]]</td>
                    <td>
                        <input id="user_name" value="@ViewBag.UserDetails.UserName" class="form-control NotificationContent" type="hidden" />
                        <span class="usernamelimit" data-toggle="tooltip" data-placement="top" title="@ViewBag.UserDetails.UserName">@ViewBag.UserDetails.UserName</span>
                    </td>
                </tr>
                <tr class="userprofile-paddingbottom">
                    @if (ViewBag.isAdUser)
                    {
                        <td class="NotificationContent">[[[First name]]]</td>
                        <td>
                            <span>@ViewBag.UserDetails.FirstName</span>
                        </td>
                    }
                    else
                    {
                        <td class="NotificationContent">[[[First name]]]<span class="Mandatory">*</span></td>
                        <td class="col-md-12">
                            <input type="text" id="user_firstname" maxlength="254" value="@ViewBag.UserDetails.FirstName" class="form-control NotificationContent user_profile_field" data-name="first name" name="first-name" />
                        </td>
                    }
                </tr>
                <tr class="userprofile-paddingtop">
                    <td></td>
                    <td>
                        <span id="invalid_firstname" class="userprofile_validation_messages"></span>
                    </td>
                </tr>
                <tr>
                    <td class="NotificationContent">[[[Last name]]]</td>
                    <td class="col-md-12">
                        @if (ViewBag.isAdUser)
                        {
                            <span>@ViewBag.UserDetails.LastName</span>
                        }
                        else
                        {
                            <input type="text" id="user_lastname" maxlength="254" value="@ViewBag.UserDetails.LastName" class="form-control NotificationContent user_profile_field" data-name="last name" name="last-name" />
                        }
                    </td>
                </tr>
                <tr class="userprofile-paddingtop">
                    <td></td>
                    <td>
                        <span id="invalid_lastname" class="userprofile_validation_messages"></span>
                    </td>
                </tr>
                <tr>
                    @if (ViewBag.isAdUser)
                    {
                        <td class="NotificationContent">[[[Email address]]]</td>
                        <td>
                            <span>@ViewBag.UserDetails.Email</span>
                        </td>
                    }
                    else
                    {
                        <td class="NotificationContent">[[[Email address]]]<span class="Mandatory">*</span></td>
                        <td class="col-md-12">
                            <input type="text" id="user_email" maxlength="254" value="@ViewBag.UserDetails.Email" data-default="@ViewBag.UserDetails.Email" class="form-control NotificationContent user_profile_field" data-name="email address" name="email-address" />
                        </td>
                    }
                </tr>
                <tr class="userprofile-paddingtop">
                    <td></td>
                    <td>
                        <span id="invalid_email" class="userprofile_validation_messages"></span>
                    </td>
                </tr>
                <tr>
                    <td class="NotificationContent">[[[Phone number]]]</td>
                    <td class="paddingbottom col-md-12">
                        @if (ViewBag.isAdUser)
                        {
                            <span>@ViewBag.UserDetails.ContactNumber</span>
                        }
                        else
                        {
                            <input id="contact_no" maxlength="15" value="@ViewBag.UserDetails.ContactNumber" data-default="@ViewBag.UserDetails.ContactNumber" class="form-control NotificationContent user_profile_field" name="phone-number" />
                        }
                    </td>
                </tr>
                <tr class="userprofile-paddingtop">
                    <td></td>
                    <td>
                        <span id="invalid_phonenumber" class="userprofile_validation_messages"></span>
                    </td>
                </tr>
                <tr>
                    <td class="NotificationContent">[[[Status]]]</td>
                    <td id="StatusDOM" class="col-md-12">
                        @if (@ViewBag.UserDetails.Status.ToString() == "Active" && @ViewBag.UserDetails.UserName.ToLower() != ViewBag.LoggedUser.ToLower() && !ViewBag.isAdUser)
                        {
                            <select id='user_status' class='selectpicker'>
                                <option value="true" selected="selected">[[[Active]]]</option>
                                <option value="false">[[[Inactive]]]</option>
                            </select>
                        }
                        else if (@ViewBag.UserDetails.Status.ToString() == "Active" && @ViewBag.UserDetails.UserName.ToLower() == ViewBag.LoggedUser.ToLower())
                        {
                            <input type="hidden" id="user_status" value="true" />
                            <span id="ActiveUser">[[[Active]]]</span>
                        }
                        else if (@ViewBag.UserDetails.Status.ToString() == "Active" && ViewBag.isAdUser)
                        {
                            <input type="hidden" id="user_status" value="true" />
                            <span id="ActiveUser">[[[Active]]]</span>
                        }
                        else
                        {
                            <input type="hidden" id="user_status" value="false" />
                            <span id="InActiveUser">[[[Inactive]]]</span>
                        }
                    </td>
                    <td id="ActivateDOM"></td>
                </tr>
            @if (@ViewBag.UserDetails.Status.ToString() == "InActive" && DateTime.UtcNow < @ViewBag.UserDetails.ActivationExpirationDate && !ViewBag.isAdUser && GlobalAppSettings.SystemSettings.ActivationType == ActivationType.EmailActivation)
            {
                <tr>
                    <td></td>
                    <td class="password_section">
                        <input class="btn btn-primary password_save_button" type="button" id="resendButtonClick" value="[[[Resend Activation Code]]]" title="" />
                    </td>
                    <td class="message"><div id="AlertMessage"></div></td>
                </tr>
            }
            else if (@ViewBag.UserDetails.Status.ToString() == "InActive" && !ViewBag.isAdUser)
            {
                <tr>
                    <td></td>
                    <td class="password_section"><input class="btn btn-primary password_save_button" type="button" id="activateButtonClick" value="[[[Activate User]]]" title="" /></td>
                    <td class="message"><div id="AlertMessage"></div></td>
                </tr>
            }
            </table>
        </form>
        <div class="col-xs-1">
            @if (!ViewBag.isAdUser)
            {
                <input type="button" onclick=" SaveUserdetails(); " name="Save" class="btn btn-primary user-save profile_save_button" value="[[[Save]]]" />
                <span id="updation_validation_message" class="SuccessMessage rightAlign padding15 profile_save_button"></span>
            }
        </div>
    </div>
@if (!ViewBag.isAdUser)
{
    <div class="col-xs-12 password_section">
        <form class="col-xs-11 change_password_form">
            <table class="user-profile-table pull-left" cellpadding="20">
                <tr class="userprofile-paddingbottom">
                    <td class="Password_label_section">[[[New password]]]<span class="Mandatory">*</span></td>
                    <td class="relative-position password-section">
                        <input type="password" name="fakepassword_avoid_autocomplete" id="fake-password">
                        <input type="password" class="form-control admin-password-change" id="new_password" name="new-password" maxlength="85" /><span class="su su-eye ViewGreen showHidePassword"></span>
                    </td>
					<span id="password_updation_validation" class="SuccessMessage rightAlign padding15 profile_save_button"></span>
                </tr>
                <tr class="userprofile-paddingtop">
                    <td></td>
                    <td>
                        <span id="new_password_validation" class="userpassword_validation_messages"></span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td id="password_policy_list"></td>
                </tr>
                <tr class="userprofile-paddingbottom">
                    <td class="Password_label_section">[[[Confirm password]]]<span class="Mandatory">*</span></td>
                    <td class="relative-position password-section">
                        <input type="password" class="form-control admin-password-change " id="confirm_password" name="confirm-password" maxlength="85" /><span class="su su-eye ViewGreen showHidePassword"></span>
                    </td>
                </tr>
                <tr class="userprofile-paddingtop">
                    <td></td>
                    <td>
                        <span id="confirm_password_validation" class="userpassword_validation_messages"></span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><span style="width:250px; display:inline-block;"></span></td>
                    <td></td>
                </tr>
            </table>
        </form>
        <div class="col-xs-1">
            <input type="button" class="btn btn-primary password_save_button profile_save_button" value="[[[Update]]]" onclick=" onUserChangePasswordClick() ">
            <span id="password_updation_validation" class="SuccessMessage rightAlign padding15 profile_save_button"></span>
        </div>
    </div>
}
    <input type="hidden" id="userId" value="@ViewBag.UserDetails.UserId" />
    <input type="hidden" id="Image" value="" />

    <div id="userprofile_delete_confirmation" class="no-padding">
        <div class="col-lg-12 no-padding" id="PopupContainer">
            <div class="col-md-12 header-menu">
                <div class="col-xs-8 no-padding">
                    <span class="su su-delete Head-icon"></span>
                    <span class="PopupTitle">[[[Delete User]]]</span>
                </div>
                <div class="col-xs-4 no-padding">
                    <a href="javascript:void(0);" onclick="onDeleteDialogClose()" class="PopupClose"><span class="su su-close"></span></a>
                    <div id="folder-setting-arrow" class="downArrow" style="left: 37px;"></div>
                </div>
            </div>
            <div class="dialogBody col-xs-12 no-padding">
                <div class="col-xs-12 no-left-padding no-bottom-padding no-right-padding padding20">
                    <div class="deleteMsg">[[[Are you sure you want to delete the User]]]?</div>
                </div>
            </div>
                <div class="col-xs-12 dialogFooter rightAlign no-right-padding no-left-padding">
                    <div class="col-xs-12 no-padding rightAlign">
                        <input type="button" id="delete-item" onclick="deleteSingleUser(@ViewBag.UserDetails.UserId)" class="btn btn-danger rightAlign" value="[[[Yes]]]" tabindex="1" autofocus />
                        <input type="button" onclick="onDeleteDialogClose()" class="btn btn-link rightAlign PopupClose" value="[[[No]]]" tabindex="2" />
                    </div>
                </div>
        </div>
    </div>

@Html.Partial("_ProfilePictureUploadBox")
</div>
}