@{
    ViewBag.Title = GlobalAppSettings.SystemSettings.OrganizationName + " - [[[ReportSettings]]]";
    ViewBag.MessageBox = false;

    var makepublic = GlobalAppSettings.SystemSettings.IsMarkItemsPublic;
}

@section styles{
    @Styles.Render("~/styles/report-settings")
}

@section scripts{

    @Scripts.Render("~/scripts/report-settings")
    <script type="text/javascript">
        var getExportFileSettingInfoUrl = "@Url.Action("GetExportFileSettingInfo", "Administration")";
        var getScheduleFileSettingTypeUrl = "@Url.Action("GetScheduleFileSettingType", "Administration")";
    </script>
}

@section MainSection{

    @Html.Partial("_AdminMenu")

    <div id="report-settings-container" class="col-xs-12 admin-page-container">
        <div class="col-xs-12 admin-page-header">
            <hgroup>
                <h1 class="h2 page-title">
                    [[[REPORT SETTINGS]]]
                </h1>
                <h5 class="page-description">
                    [[[Configuration for the Reports]]]
                </h5>
            </hgroup>
        </div>
        <div>
            <ul id="report-settings-tab-nav" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#make-public-setting-tab" id="make-public-setting" aria-controls="make-public-setting-tab" role="tab" data-toggle="tab">[[[Report]]]</a>
                </li>
                <li role="presentation">
                    <a href="#schedule-setting-tab" id="schedule-setting" aria-controls="schedule-setting-tab" role="tab" data-toggle="tab">[[[Schedule]]]</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="make-public-setting-tab">
                    <div id="report-settings-body" class="admin-page-body">
            <div class="row input-field-wrapper">
                <div class="col-xs-8 field-container-dashboard bottom-width ">
                    <div class="col-md-4">
                    </div>

                    <div class="col-md-2 text-center notification-header">
                        <strong>[[[Allow]]]</strong>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 field-container-dashboard">
                        <label class="col-md-4 app-textbox-label activation">
                            [[[Mark reports as public]]]

                        </label>

                        <div class="col-md-2 text-center switch-align">
                            <span class="material-switch text-left">
                                <input type="checkbox" id="restrict-makepublic-dashboard" @(makepublic ? "checked" : string.Empty) />

                                <label for="restrict-makepublic-dashboard" class="label-primary"></label>
                            </span>
                            <div class="tool-tip col-xs-1">
                                <span class="dropdown-toggle" data-toggle="dropdown"><span class="su su-info" title=""></span></span>
                                            <div class="dropdown-menu" role="menu">
                                                [[[Disabling this will not allow the current public reports to be opened by anonymous users. Click on public ]]] <a href="~/reports/public">[[[reports]]] </a> [[[to view them.]]]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="schedule-setting-tab">
                    @Html.Partial("../Shared/_ScheduleExportFileSettings")
                </div>
            </div>
        </div>
        <div class="admin-page-actions col-xs-12 col-md-12">
            <a href="@Url.Action("reports", "reports")" class="secondary-button pull-right" id="cancel-report-settings" title="">[[[Cancel]]]</a>
            <input type="button" title="" data-url="@Url.Action("updatereportsettings", "administration")" id="update-report-settings" class="primary-button pull-right" value="[[[Save]]]" />
            <input type="button" title="" data-url="@Url.Action("UpdateScheduleExportFileSetting", "administration")" id="update-schedule-settings" class="primary-button pull-right" value="[[[Save]]]" />
        </div>
    </div>
}

