@model List<ItemDetail>
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html class="report-server">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>
        Select Data Source
    </title>
    <script>
            var createdatasourceUrl = "@Url.Action("createdatasource", "datasources")";
        var testdatasourceconnectionUrl = "@Url.Action("testdatasourceconnection", "datasources")";

        function load() {
            $('[data-toggle="tooltip"]').tooltip();
            if (($(parent.window).width()) > 1400) {
                $(".dialog").addClass("iframe");
            }

            if (($(parent.window).width()) < 1400) {
                $(".dialog").removeClass("iframe");
            }
        }
    </script>
    @Styles.Render("~/styles/dataset-datasource")
    @Scripts.Render("~/scripts/dataset-datasource")
</head>
<body style="background-color:white" onload="load();">
    <div id="PopupContainer" class="col-lg-12 no-padding dialog">
        <div class="col-xs-12 dialog-header">
            <span class="su su-datasource Head-icon"></span>
            <span class="PopupTitle">[[[Select Data Source]]]</span>
            <a href="javascript:void(0);" title="[[[Close]]]" data-toggle="tooltip" data-placement="bottom" class="PopupClose" onclick="closeNewDataSourcePopup()"><span class="su su-close"></span></a>
        </div>
        <div id="datasource_popup_module" class="dialog-body col-xs-12 no-padding">

            <div class='col-md-12 no-padding no-top-margin' id='new_datasourcerdl_tab_content'>
                <div class='new-datasource-popup-btns datasource-btns'>
                    <div id="datasource_validation" style="color: #A94442; display: none; height: 0;"></div>
                    <div class='create-datasource-btns pull-right'>
                        <input type='button' value='[[[Select]]]' id='publish_datasource' onclick="onSubmitDataSource()" class='btn primary-button right-margin10' data-mapid="@ViewData["sourceName"]" tabindex="15">
                        <input type='button' value='[[[Cancel]]]' class='btn secondary-button NoStyleCloseClick' onclick="closeNewDataSourcePopup()" tabindex="16">
                    </div>
                </div>
            </div>
            <div class='col-md-12 share-popup-header no-top-margin'>
                <div id="datasource_tabs" class="col-md-12">
                    <span class="datasource-tab-active heading" id="avl_datasource_tab" onclick="onAvailableDataSourceTabSelect()">[[[Available]]]</span>
                    @if (Convert.ToBoolean(ViewData["createPermission"]) == true)
                    {
                        <span id="new_datasource_select_tab" class="heading" onclick="onNewDataSourceTabSelect()">[[[New Data Source]]]</span>
                    }
                    <div id="rdl_new_tab_arrow" class="downArrow"></div>
                </div>
            </div>
            <div id='datasource_header_line' class='horizontal-splitline'></div>
            <div id='avl_datasource_tab_content' class='col-md-12 no-top-margin rdl-datasource-tab-contents'>
                <div class='col-md-12 no-top-margin new-datasource-content-holder'>
                    <div id='available_datasource_table_header' class='col-md-12'>
                        <div class='col-md-10 no-padding no-margin heading'>[[[Data Source]]]</div>
                        <div class='col-md-2 no-padding no-margin heading'>[[[Created By]]]</div>
                    </div>
                    <div class='col-md-12 no-padding no-margin' id='available_datasource_table_holder'>
                        <table id='available_datasource_table'>
                            @for (var dataSource = 0; dataSource < Model.Count; dataSource++)
                            {
                                if (@ViewData["selectedDataSource"].ToString() == @Model[dataSource].Id.ToString())
                                {
                                    <tr class="available-datasource-select" data-sourceid="@Model[dataSource].Id"><td><span>@Model[dataSource].Name</span></td><td>@Model[dataSource].CreatedByDisplayName</td></tr>
                                }
                                else
                                {
                                    <tr data-sourceid="@Model[dataSource].Id"><td><span>@Model[dataSource].Name</span></td><td>@Model[dataSource].CreatedByDisplayName</td></tr>
                                }
                            }
                        </table>
                    </div>
                </div>
                <div class='horizontal-splitline no-top-margin'></div>
            </div>

            <form id='new_datasource_tab_content' class='col-lg-12 no-padding dialog rdl-datasource-tab-contents DisplayNone'>
                <div class='dialog-body col-xs-12 no-padding new-datasource-content-holder' id='new_datasource_content_holder'>
                    <table id='datasource_table'>
                        <tr>
                            <td class="col-md-2 text-right">
                                <div class="bottom-margin30">[[[Name]]]<span class="mandatory">*</span></div>
                            </td>
                            <td class="col-md-10">
                                <input type='text' name="new_datasource_name" id='new_datasource_name' class='form-control validate-fields bottom-margin30 text' maxlength="100" tabindex="1" />
                                <span id='datasource_name_validation_error' class='datasource-validation-messages text'></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2 text-right">
                                <div class="bottom-margin30">[[[Description]]]</div>
                            </td>
                            <td class="col-md-10">
                                <textarea id='new_datasource_description' class='form-control bottom-margin30 text' maxlength="1024" tabindex="2"></textarea>
                                <span class="notification help-text">
                                    <span class="help-text-mandatory">*</span>[[[1024 characters maximum]]]
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2 text-right"><div class="bottom-margin30 text">[[[Data Source type]]]</div></td>
                            <td class="col-md-10">
                                @{Html.RenderPartial("~/Views/Items/_DataSourceSupportList.cshtml", ViewBag.DataSource as List<string>);}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2 text-right">
                                <div class="bottom-margin30 text">[[[Connection string]]]<span class="mandatory">*</span></div>
                            </td>
                            <td class="col-md-10">
                                <textarea name="new_datasource_connectionstring" id='new_datasource_connectionstring' class='form-control validate-fields bottom-margin30 text' tabindex="4"></textarea>
                                <span id='datasource_connstring_validation_error' class='datasource-validation-messages text'></span>
                            </td>
                        </tr>
                        <tr id="connect_prop" class="disable_connections">
                            <td class="col-md-2 text-right">
                                <span class="bottom-margin30 text">[[[Connect using]]]:</span>
                            </td>
                            <td class="col-md-10">
                                <div class="full-width connection-types">
                                    <div class="full-width no-margin no-padding">
                                        @Html.RadioButton("connect_using", "Prompt", new { @class = "css-radio", @id = "connect_option_prompt", @checked = "checked" })
                                        @Html.Label("connect_option_prompt", "[[[Credentials supplied by the user running the report]]]", new { @class = "text labels notransition" })
                                    </div>
                                    <div class="full-width connection-sub-types page-indent text bottom-margin10">
                                        <span>[[[Display the following text to prompt user for a username and password]]]:</span>
                                    </div>
                                    <div class="full-width connection-sub-types page-indent text">
                                        <input type="text" id="prompt_text" value="[[[Type or enter a username and password to access the Data Source:]]]" class="form-control connection-type-prompt bottom-margin30 text" tabindex="6" />
                                    </div>
                                    <div class="full-width connection-sub-types page-indent text">
                                        @Html.CheckBox("enable_windows_prompt", new { @class = "material-checkbox nodetext connection-type-prompt", @id = "enable_windows_prompt" })
                                        @Html.Label("enable_windows_prompt", "[[[Use as Windows credentials when connecting to the Data Source]]]", new { @class = "text cbk-labels NotificationContent notransition" })
                                    </div>
                                </div>
                                <div class="full-width connection-types">
                                    <div class="full-width no-margin no-padding text">
                                        @Html.RadioButton("connect_using", "Store", new { @class = "css-radio", @id = "connect_option_store" })
                                        @Html.Label("connect_option_store", "[[[Credentials stored securely in the report server]]]", new { @class = "text labels" })
                                    </div>
                                    <div class="full-width connection-sub-types page-indent">
                                        <input type="text" style="display:none;">
                                        <input type="password" style="display: none;">
                                        <table>
                                            <tr>
                                                <td class="col-md-2 text-right">[[[Username]]]:</td>
                                                <td class="col-md-10">
                                                    <input type="text" disabled="disabled" class="form-control connection-type-server validate-fields edit-text-fields text" id="connection_stored_username" name="connection_stored_username" style="width: 250px;" tabindex="8" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-2 text-right">[[[Password]]]:</td>
                                                <td class="col-md-10">
                                                    <input type="password" disabled="disabled" class="form-control connection-type-server validate-fields edit-text-fields text" id="connection_stored_password" name="connection_stored_password" style="width: 250px;" tabindex="9" />
                                                    <div id="password-field" class="su su-eye ViewGreen showHidePassword"></div>
                                                </td>
                                            </tr>
                                        </table>
                                        <span id="datasource_credential_validation_error1" class="datasource-validation-messages text"></span>
                                        <span id="datasource_credential_validation_error2" class="datasource-validation-messages text"></span>
                                    </div>
                                    <div class="full-width connection-sub-types page-indent text">
                                        @Html.CheckBox("enable_windows_stored", new { @class = "material-checkbox nodetext connection-type-server", @id = "enable_windows_stored", @disabled = "disabled" })
                                        @Html.Label("enable_windows_stored", "[[[Use as Windows credentials when connecting to the Data Source]]]", new { @class = "text cbk-labels NotificationContent notransition" })
                                    </div>
                                    <div class="full-width connection-sub-types page-indent text disable_impersonate">
                                        @Html.CheckBox("enable_impersonate", new { @class = "material-checkbox nodetext connection-type-server", @id = "enable_impersonate", @disabled = "disabled" })
                                        @Html.Label("enable_impersonate", "[[[Impersonate the authenticated user after a connection has been made to the Data Source]]]", new { @class = "text cbk-labels NotificationContent notransition" })
                                    </div>
                                </div>
                                <div class="full-width connection-types text">
                                    @Html.RadioButton("connect_using", "Integrated", new { @class = "css-radio", @id = "connect_option_windows" })
                                    @Html.Label("connect_option_windows", "[[[Windows Integrated Security]]]", new { @class = "text labels" })
                                </div>
                                <div class="full-width connection-types text">
                                    @Html.RadioButton("connect_using", "None", new { @class = "css-radio", @id = "connect_option_none" })
                                    @Html.Label("connect_option_none", "[[[Credentials are not required]]]", new { @class = "text labels" })
                                </div>
                                <div class="full-width connection-types text">
                                    <input id="test_connection" type="button" value="[[[Test Connection]]]" onclick="onTestDataSourceConnection()" class="btn primary-button" tabindex="14">
                                </div>
                                <div class="full-width connection-types text">
                                    <span id="connection_test_validation_error" class="datasource-validation-messages text"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<script>
    $(function () {
        parent.$("#select_datasource_popup_wrapper").ejWaitingPopup("hide");
    });
</script>