<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta name='viewport' content='width=device-width'>
</head>
<body style='min-width: 100%;color: #222222; line-height: 19px; font-size: 14px; width: 100% !important; background: rgb(244,244,244); padding: 10px 0 0;'>
    <center style='width: 100%; min-width: 580px;'>
        <table>
            <tbody>
                <tr>
                    <td style='word-break: break-word;  hyphens: auto; color: #222222;  line-height: 19px; font-size: 14px;'>
                        <table style='text-align: left;'>
                            <tbody>
                                <tr>
                                    <td style='word-break: break-word; hyphens: auto; padding-bottom: 10px; width: 584px; color: #EE5250; line-height: 19px; font-size: 14px; background: #EE5250;'>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p style='color: #ffffff; margin-top: 15px; margin-left: 535px; font-size: 10px;'>
                                                            @{
                                                                var formatedHyperlink = "<a href='" + @Model.BaseUrl + "//" + @Model.Language + "/accounts/login' style='color: #ffffff; font-size: 10px;font-family: Segoe UI, Helvetica, sans-serif; text-decoration: none;'>LOGIN</a>";
                                                            }
                                                            @formatedHyperlink
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p style='font-size: 16px; margin-bottom: 0px;font-weight: 600; margin-left: 38px; margin-top: 14px; color: #ffffff;font-family: Segoe UI,Helvetica,sans-serif;'>
                                                            @Model.OrganizationName
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr><td style='padding-top: 11px;'><table style='width: 50px; color: #ffffff; border-top-color: #ffffff; height: 1px; margin-top: -1px; border-top-style: solid; border-top-width: 1px; margin-left: 38px; margin-bottom: 0px; padding: 0;'><tr><td></td></tr></table></td></tr>
                                                <tr style='padding: 0;'><td style='padding-top:30px;'><p style='font-size: 28px;font-family: Segoe UI,Helvetica,sans-serif;font-weight: lighter; color: #ffffff; margin-top: 11px; margin-left: 38px; margin-bottom: 25px;'>Your profile picture has been updated</p></td></tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table><table>
                            <tbody>
                                <tr>
                                    <td style='word-break: break-word; hyphens: auto; color: #222222;  line-height: 19px; width: 584px; background: white;'>
                                        <table style='text-align: left;'>
                                            <tr>
                                                <td>
                                                    <p style='font-family: Segoe UI,Helvetica,sans-serif;margin-bottom: 0px;font-weight: 600; margin-top: 28px; color: #353535; margin-left: 38px; font-size: 12px;'>
                                                        Hello
                                                        @Model.FullName
                                                        ,
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p style='vertical-align: bottom; margin-top: 12px; font-family: Segoe UI,Helvetica,sans-serif; color: #353535; margin-left: 38px; margin-bottom: 12px; font-size: 12px;'>
                                                        Your profile picture has been updated
                                                        @if (@Model.Admin != null)
                                                        {
                                                            @:by
                                                            @Model.Admin
                                                            @:. Please contact your System Administrator.
                                                        }
                                                        else
                                                        {
                                                            @:. If you are unable to access your account, please contact your System Administrator.
                                                        }
                                                    </p>
                                                </td>
                                            </tr>
                                        </table><table style='text-align: left;'>
                                            <tr><td><p style='margin-top: 17px; margin-bottom: 0px; margin-left: 38px; color: #353535; font-family: Segoe UI,Helvetica,sans-serif;font-size: 12px;'>Regards,</p></td></tr>
                                            <tr>
                                                <td>
                                                    <p style='margin-bottom: 64px; margin-top:2px; margin-left: 38px; color: #353535;font-family: Segoe UI,Helvetica,sans-serif; font-size: 12px;'>
                                                        @Model.OrganizationName
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>