@{
    Layout = null;
    var userid = Request["UserId"];
    string invalidcode = TempData["InvalidCode"] as string;
}
<html class="report-server">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    @Styles.Render("~/styles/accounts/account-activation")
    <title>@GlobalAppSettings.SystemSettings.OrganizationName - [[[Account Activation]]]</title>
    @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
    {
        <link rel="icon" href="@GlobalAppSettings.AzureBlob.AzureBlobStorageUri/@GlobalAppSettings.AzureBlob.AzureBlobStorageContainerName/@GlobalAppSettings.GetStorageMode()/Content/Images/Application/@GlobalAppSettings.SystemSettings.FavIcon" onerror="if (this.href != '~/Content/Images/Application/Favicon.png') this.href = '~/Content/Images/Application/Favicon.png';" />
    }
    else
    {
        <link rel="icon" href="~/Content/Images/Application/@GlobalAppSettings.SystemSettings.FavIcon" onerror="if (this.href != '~/Content/Images/Application/Favicon.png') this.href = '~/Content/Images/Application/Favicon.png';" />
    }

    <script>
        i_am_ie9 = false;
    </script>
    <!--[if LT IE  10]>
        <script>
            i_am_ie9 = true;
        </script>
    <![endif]-->
</head>
<body>
    <div id="alert-notification"></div>
    <div class="login-master">
        <div class="login-main no-padding">
            <div id="login-container" class="login-container">
                <div class="login-inner-container inner-table">
                    <div class="login-logo">
                        <div>
                            @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
                            {
                                <img src="@GlobalAppSettings.AzureBlob.AzureBlobStorageUri/@GlobalAppSettings.AzureBlob.AzureBlobStorageContainerName/@GlobalAppSettings.GetStorageMode()/Content/Images/Application/@GlobalAppSettings.SystemSettings.LoginLogo" onerror="if (this.src != '/Content/Images/Application/Login_Logo.png') this.src = '/Content/Images/Application/Login_Logo.png';" />
                            }
                            else
                            {
                                <img src="@Url.Content("~/Content/Images/Application/" + GlobalAppSettings.SystemSettings.LoginLogo)" onerror="if (this.src != '@Url.Content("~/Content/Images/Application/Login_Logo.png")') this.src = '@Url.Content("~/Content/Images/Application/Login_Logo.png")';" />
                            }
                        </div>
                    </div>
                    <input type="hidden" id="userid" value="@userid" />
                    <img type="image" src="@Url.Content("~/Content/Images/divider_light.png")" class="upper-divider" />
                    <div class="org-name-cp">@GlobalAppSettings.SystemSettings.WelcomeNoteText</div>
                    <div class="account-act-title">[[[User account activation]]]</div>
                    <div id="account-activation" class="form-area">
                        @if (invalidcode == "true")
                        {
                            <p class="alert-danger invalid-msgs text-center">
                                [[[This link is invalid.]]]
                            </p>
                        }
                        else
                        {
                            <form name="changePasswordForm" id="update-password-form">
                                <div id="new-password-section" class="col-xs-12 col-md-12 col-sm-12 col-lg-12 password-form-holder">
                                    <div>
                                        <input placeholder="[[[New password]]]" type="password" id="password" name="password" class="form-control change-password-form" maxlength="85" />
                                        <span class="su su-eye show-hide-password"></span>
                                    </div>
                                    <div class="validation-holder">
                                        <span id="validation-error" class="validation-messages"></span>
                                    </div>
                                </div>
                                <div id="confirm-password-section" class="col-xs-12 col-md-12 col-sm-12 col-lg-12 password-form-holder">
                                    <div>
                                        <input placeholder="[[[Confirm password]]]" type="password" id="re-password" name="re-password" class="form-control change-password-form" maxlength="85" />
                                        <span class="su su-eye show-hide-password"></span>
                                    </div>
                                    <div class="validation-holder">
                                        <span id="validation-error" class="validation-messages"></span>
                                    </div>
                                </div>
                                <button id="save-activate" type="button" disabled title="[[[Please enter the password]]]" class="col-xs-12 col-md-12 col-sm-12 col-lg-12 update-button">
                                    <span class="su su-arrow-right update-text"></span>
                                </button>
                            </form>
                        }
                    </div>
                    <div class="account-succes">
                        <div class="success-box account-activation-title">
                            <div class="success-icon"><i class="su-tick succes-tick"></i></div>
                            <div class="account-activation-title">[[[You have successfully activated your]]] @GlobalAppSettings.SystemSettings.OrganizationName [[[Account]]]<br />[[[click]]] <a href="@Url.Action("login","accounts")" class="link-hover redirect-login">[[[here]]]</a> [[[to log in to your account]]]</div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("../Shared/_Footer")
        </div>
    </div>
    @Scripts.Render("~/bundles/scripts/accounts")
    <script>
        var userid = @Html.Raw(Json.Encode(@ViewBag.Userid));
        var passwordActivateUrl = "@Url.Action("SavePasswordActivate", "accounts")";
        $(document).ready(function () {
            window.AccountActivationPage = true;
            refreshActivationPageFooter();
        });
        function refreshActivationPageFooter(){
            var windowHeight = $(window).innerHeight();
            var loginContainerTop = $(".login-container").offset().top;
            var contentHeight = $(".login-container").innerHeight() + 30;
            var footerOuterHeight = $('#base-footer-div').outerHeight();
            var total = loginContainerTop + contentHeight + footerOuterHeight;
            if (total > windowHeight) {
                $("#base-footer-div").css("bottom", "auto");
                $('#base-footer-div').css("margin-top", "30px");
            }
        }
    </script>
</body>
</html>