@{
    Layout = null;
}

<!DOCTYPE html>
<html class="report-server">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    @Styles.Render("~/styles/accounts/change-password")
    <title>@GlobalAppSettings.SystemSettings.OrganizationName - [[[Change Password]]]</title>
    @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
    {
        <link rel="icon" href="@GlobalAppSettings.AzureBlob.AzureBlobStorageUri/@GlobalAppSettings.AzureBlob.AzureBlobStorageContainerName/@GlobalAppSettings.GetStorageMode()/Content/Images/Application/@GlobalAppSettings.SystemSettings.FavIcon" onerror="if (this.href != '~/Content/Images/Application/Favicon.png') this.href = '~/Content/Images/Application/Favicon.png';" />
    }
    else
    {
        <link rel="icon" href="~/Content/Images/Application/@GlobalAppSettings.SystemSettings.FavIcon" onerror="if (this.href != '~/Content/Images/Application/Favicon.png') this.href = '~/Content/Images/Application/Favicon.png';" />
    }

    <script>
        i_am_ie9 = false;
    </script>
    <!--[if LT IE  10]>
        <script>
            i_am_ie9 = true;
        </script>
    <![endif]-->
</head>

<body>
    <div id="alert-notification"></div>
    <div class="login-master">
        <div class="login-main no-padding">
            <div id="login-container" class="login-container">
                <div class="login-inner-container inner-table">
                    <div class="login-logo">
                        <div>
                            @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
                            {
                                <img src="@GlobalAppSettings.AzureBlob.AzureBlobStorageUri/@GlobalAppSettings.AzureBlob.AzureBlobStorageContainerName/@GlobalAppSettings.GetStorageMode()/Content/Images/Application/@GlobalAppSettings.SystemSettings.LoginLogo" onerror="if (this.src != '/Content/Images/Application/Login_Logo.png') this.src = '/Content/Images/Application/Login_Logo.png';" />
                            }
                            else
                            {
                                <img src="@Url.Content("~/Content/Images/Application/" + GlobalAppSettings.SystemSettings.LoginLogo)" onerror="if (this.src != '@Url.Content("~/Content/Images/Application/Login_Logo.png")') this.src = '@Url.Content("~/Content/Images/Application/Login_Logo.png")';" />
                            }
                        </div>
                    </div>
                    <img type="image" src="~/Content/Images/divider_light.png" class="upper-divider" />
                    <div class="org-name-cp">@GlobalAppSettings.SystemSettings.OrganizationName</div>
                    <div class="float-center">[[[Create new password]]]</div>
                    <div class="form-area">
                        <form action="@Url.Action("updatepassword", "accounts")" name="changePasswordForm" method="post" onsubmit="return changePasswordValidation();" id="update-password-form">
                            <input type="hidden" value="@Request["userid"]" name="userId" />
                            <input type="hidden" value="@Request["recoverycode"]" name="recoveryCode" />
                            <div id="new-password-section" class="col-xs-12 col-md-12 col-sm-12 col-lg-12 password-form-holder">
                                <div>
                                    <input placeholder="[[[New password]]]" type="password" id="password" name="password" class="form-control change-password-form" maxlength="85" />
                                    <span class="su su-eye show-hide-password"></span>
                                </div>
                                <div class="validation-holder">
                                    <span id="validation-error" class="validation-messages"></span>
                                </div>
                            </div>
                            <div id="confirm-password-section" class="col-xs-12 col-md-12 col-sm-12 col-lg-12 password-form-holder">
                                <div>
                                    <input placeholder="[[[Confirm password]]]" type="password" id="re-password" name="re-password" class="form-control change-password-form" maxlength="85" />
                                    <span class="su su-eye show-hide-password"></span>
                                </div>
                                <div class="validation-holder">
                                    <span id="validation-error" class="validation-messages"></span>
                                </div>
                            </div>
                            <button type="submit" disabled title="[[[Please enter the password]]]" id="update-button" class="col-xs-12 col-md-12 col-sm-12 col-lg-12 update-button">
                                <span class="su su-arrow-right update-text"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            @Html.Partial("../Shared/_Footer")
        </div>
    </div>


    @Scripts.Render("~/bundles/scripts/accounts")
    <script>
        $(document).ready(function () {
            window.IsChangePasswordPage = true;
            refreshChangePasswordFooter();
        });
        function refreshChangePasswordFooter() {
            var windowHeight = $(window).innerHeight();
            var loginContainerTop = $(".login-container").offset().top;
            var contentHeight = $(".login-container").innerHeight() + 30;
            var footerOuterHeight = $('#base-footer-div').outerHeight();
            var total = loginContainerTop + contentHeight + footerOuterHeight;
            if (total > windowHeight) {
                $("#base-footer-div").css("bottom", "auto");
                $('#base-footer-div').css("margin-top", "30px");
            }
        }
    </script>
</body>
</html>