@{
    Layout = null;
    ViewBag.Title = GlobalAppSettings.SystemSettings.OrganizationName + " - [[[Password Helper]]]";
}
<!DOCTYPE html>
<html class="report-server">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    @Styles.Render("~/styles/accounts/code-confirmation")
    <title>@ViewBag.Title</title>
    @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
    {
        <link rel="icon" href="@GlobalAppSettings.AzureBlob.AzureBlobStorageUri/@GlobalAppSettings.AzureBlob.AzureBlobStorageContainerName/@GlobalAppSettings.GetStorageMode()/Content/Images/Application/@GlobalAppSettings.SystemSettings.FavIcon" onerror="if (this.href != '~/Content/Images/Application/Favicon.png') this.href = '~/Content/Images/Application/Favicon.png';" />
    }
    else
    {
        <link rel="icon" href="~/Content/Images/Application/@GlobalAppSettings.SystemSettings.FavIcon" onerror="if (this.href != '~/Content/Images/Application/Favicon.png') this.href = '~/Content/Images/Application/Favicon.png';" />
    }

    <script>
        i_am_ie9 = false;
    </script>
    <!--[if LT IE  10]>
        <script>
            i_am_ie9 = true;
        </script>
    <![endif]-->
</head>

<body>
    <div id="alert-notification"></div>
    <div class="login-master">
        <div class="login-main no-padding">
            <div id="login-container" class="login-container ">
                <div class="login-inner-container">
                    <div class="login-logo ">
                        <div>
                            @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
                            {
                                <img src="@GlobalAppSettings.AzureBlob.AzureBlobStorageUri/@GlobalAppSettings.AzureBlob.AzureBlobStorageContainerName/@GlobalAppSettings.GetStorageMode()/Content/Images/Application/@GlobalAppSettings.SystemSettings.LoginLogo" onerror="if (this.src != '/Content/Images/Application/Login_Logo.png') this.src = '/Content/Images/Application/Login_Logo.png';" />
                            }
                            else
                            {
                                <img src="@Url.Content("~/Content/Images/Application/" + GlobalAppSettings.SystemSettings.LoginLogo)" onerror="if (this.src != '@Url.Content("~/Content/Images/Application/Login_Logo.png")') this.src = '@Url.Content("~/Content/Images/Application/Login_Logo.png")';" />
                            }

                        </div>
                    </div>
                    <img src="@Url.Content("~/Content/Images/divider_light.png")" class="upper-divider" />
                    @if (SystemSettingsModel.MailSettingsExist() == "success")
                    {
                        <div class="org-name">@GlobalAppSettings.SystemSettings.OrganizationName</div>
                        <div class="float-center">[[[Forgot your password?]]]</div>
                        <div class="success-box">
                            <div class="success-icon"><i class="su-tick succes-tick"></i></div>
                            <p class="align-center">
                                @if (TempData["message"] as string == "[[[Email resent successfully.]]]")
                                {
                                    @TempData["message"]
                                }
                                else
                                {
                                <p class="align-center">
                                    [[[An email with instructions on how to change your password has been sent to]]] <a href='mailto:  @TempData["message"]'> @TempData["message"] </a>
                                </p>
                                }

                                </p>
                            </div>
                            <div><h5 class="alert-danger text-center"><br /><br />[[[The reset password link expires in two hours!]]]</h5></div>
                            <div class="resend-btn-holder bottom-margin text-center">
                                <div>
                                    [[[If it does not arrive]]], <a id="mail-resend" href="@(Url.Action("resendforgotpasswordmail","accounts"))?userId=@Request["userId"]" class="link-hover">[[[click here ]]]</a>[[[to resend the email]]].
                                </div>
                            </div>
                    }
                    else
                    {
                        <div class="col-lg-12 validation-holder">
                            <span class="col-xs-12">[[[As email settings are not configured, we will not be able to send an email to reset your password.]]]</span>
                        </div>
                    }

                    <img src="@Url.Content("~/Content/Images/divider_dark.png")" class="lower-divider top-margin" />
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 forgot-password-caption">
                        <span class="remember-text">[[[Know your password?]]]<a type="button" class="btn btn-link link-hover redirect-login" href="@Url.Action("login","accounts")">[[[Log In]]]</a></span>
                    </div>
                </div>
            </div>
            @Html.Partial("../Shared/_Footer")
        </div>
    </div>
    @Scripts.Render("~/bundles/scripts/accounts")
    <script>
        $(document).ready(function () {
            refreshCodeConfirmationFooter();
            $(window).resize(function () {
                refreshCodeConfirmationFooter();
            });
        });
        function refreshCodeConfirmationFooter() {
            var windowHeight = $(window).innerHeight();
            var loginContainerTop = $(".login-container").offset().top;
            var contentHeight = $(".login-container").innerHeight();
            var loginOption = $(".forgot-password-caption").innerHeight() + 75;
            var footerOuterHeight = $('#base-footer-div').outerHeight();
            var total = loginContainerTop + contentHeight + loginOption + footerOuterHeight;
            if (total > windowHeight) {
                $("#base-footer-div").css("bottom", "auto");
                $('#base-footer-div').css("margin-top", loginOption + "px");
            }
        }
    </script>
</body>
</html>