@{
    Layout = null;
    ViewBag.Title = GlobalAppSettings.SystemSettings.OrganizationName + " - [[[Password Helper]]]";
    var username = TempData["username"] as string;
}
<!DOCTYPE html>
<html class="report-server">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/styles/accounts/forget-password")
    @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
    {
        <link rel="icon" href="@GlobalAppSettings.AzureBlob.AzureBlobStorageUri/@GlobalAppSettings.AzureBlob.AzureBlobStorageContainerName/@GlobalAppSettings.GetStorageMode()/Content/Images/Application/@GlobalAppSettings.SystemSettings.FavIcon" onerror="if (this.href != '~/Content/Images/Application/Favicon.png') this.href = '~/Content/Images/Application/Favicon.png';" />
    }
    else
    {
        <link rel="icon" href="~/Content/Images/Application/@GlobalAppSettings.SystemSettings.FavIcon" onerror="if (this.href != '~/Content/Images/Application/Favicon.png') this.href = '~/Content/Images/Application/Favicon.png';" />
    }

    <script>
        i_am_ie9 = false;
    </script>
    <!--[if LT IE  10]>
        <script>
            i_am_ie9 = true;
        </script>
    <![endif]-->
</head>

<body ng-app="forgotPasswordApp" ng-init="input= '@username'">
    @{
        var hasError = !String.IsNullOrWhiteSpace((string)TempData["errorMessage"]) ? "has-error" : "";
    }
    <div id="alert-notification"></div>
    <div class="login-master">
        <div class="login-main no-padding">
            <div id="login-container" class="login-container">
                <div class="login-inner-container">
                    <div class="login-logo">
                        <div>
                            @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
                            {
                                <img src="@GlobalAppSettings.AzureBlob.AzureBlobStorageUri/@GlobalAppSettings.AzureBlob.AzureBlobStorageContainerName/@GlobalAppSettings.GetStorageMode()/Content/Images/Application/@GlobalAppSettings.SystemSettings.LoginLogo" onerror="if (this.src != '/Content/Images/Application/Login_Logo.png') this.src = '/Content/Images/Application/Login_Logo.png';" />
                            }
                            else
                            {
                                <img src="@Url.Content("~/Content/Images/Application/" + GlobalAppSettings.SystemSettings.LoginLogo)" onerror="if (this.src != '@Url.Content("~/Content/Images/Application/Login_Logo.png")') this.src = '@Url.Content("~/Content/Images/Application/Login_Logo.png")';" />
                            }

                        </div>
                    </div>
                    <img src="@Url.Content("~/Content/Images/divider_light.png")" class="upper-divider" />
                    <form name="forgotPasswordForm" class="login-form" action="@Url.Action("Forgotpassword","Accounts")" onsubmit="return ForgotValidate();" id="forgot-password-form" method="post" autocomplete="off">
                        @if (SystemSettingsModel.MailSettingsExist() == "success")
                        {
                            <div class="org-name">@GlobalAppSettings.SystemSettings.OrganizationName</div>
                            if (!string.IsNullOrWhiteSpace((string)TempData["uservalidationMessage"]))
                            {
                                <div class="col-lg-12 user-validation">
                                    <span class="col-xs-12">@TempData["userValidationMessage"]</span>
                                </div>
                            }
                            else if (ViewBag.IsEmailPresent)
                            {
                                <div class="float-center">[[[Password Assistance]]]</div>
                                <div class="text-margin">
                                    <h5 class="align-center">[[[Enter your username or email address and we will send you a link to reset your password.]]]</h5>
                                </div>
                                <div class="forgot-form-input-field">
                                    <input type="hidden" id="forgot-username" value="@username" />
                                    <input type="text" required ng-minlength="1" md-no-asterisk name="key" ng-model="input" id="key-input" class="form-control" placeholder="[[[Username or email address]]]" maxlength="100">
                                    <span class="special-char-msg validation-holder"></span>
                                    <span id="username-validation">
                                        @if (TempData["errorMessage"] as string != string.Empty)
                                        {
                                            <p class="validation-holder">@TempData["errorMessage"]</p>
                                        }

                                    </span>
                                </div>
                            }
                            else
                            {
                                <div class="float-center">[[[Password Assistance]]]</div>
                                <div id="email-settings-msg" class="col-lg-12 validation-holder">
                                    <span class="col-xs-12">[[[You have not set an email address in your account, and so we were unable to send an email to reset your password. Please contact your System Administrator.]]]</span>
                                </div>
                            }
                            <button ng-disabled="forgotPasswordForm.$invalid" id="submit-button" class="submit-button" title="{{ forgotPasswordForm.$invalid ? 'Please enter your Username or email address' : ''}}" type="submit">
                                <i class="su-arrow-right submit-icon"></i>
                            </button>
                        }
                        else
                        {
                            <div class="org-name">@GlobalAppSettings.SystemSettings.OrganizationName</div>
                            <div class="float-center">[[[Password Assistance]]]</div>
                            <div id="email-settings-msg" class="col-lg-12 validation-holder">
                                <span class="col-xs-12">[[[As email settings are not configured, we will not be able to send an email to reset your password.]]]</span>
                            </div>
                        }

                        <img src="@Url.Content("~/Content/Images/divider_dark.png")" class="lower-divider" />
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 forgot-password-caption">
                            <span class="remember-text">[[[Know your password?]]]<a type="button" class="btn btn-link link-hover redirect-login" href="@Url.Action("login","accounts")">[[[Log In]]]</a></span>
                        </div>
                    </form>
                </div>
            </div>
            @Html.Partial("../Shared/_Footer")
        </div>
    </div>


    @Scripts.Render("~/bundles/scripts/accounts")

    <script>
        var forgotPasswordApp = angular.module("forgotPasswordApp", []);
        var passwordActivateUrl = "@Url.Action("SavePasswordActivate", "accounts")";

        $(document).ready(function () {
            $("body").ejWaitingPopup("hide");
            refreshForgetPageFooter();
            $(window).resize(function () {
                refreshForgetPageFooter();
            });
        });

        function refreshForgetPageFooter() {
            var windowHeight = $(window).innerHeight();
            var loginContainerTop = $(".login-container").offset().top;
            var contentHeight = $(".login-container").innerHeight() + 30;
            var loginOption = $(".forgot-password-caption").innerHeight() + 85;
            var footerOuterHeight = $('#base-footer-div').outerHeight();
            var total = loginContainerTop + contentHeight + loginOption + footerOuterHeight;
            if (total > windowHeight) {
                $("#base-footer-div").css("bottom", "auto");
                $('#base-footer-div').css("margin-top", 30 + loginOption + "px");
            }
        }
    </script>
</body>
</html>