@{
    Layout = null;
    ViewBag.Title = GlobalAppSettings.SystemSettings.OrganizationName + " - [[[Reset password link]]]";
}
<!DOCTYPE html>
<html class="report-server">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    @Styles.Render("~/styles/accounts/reset-password")
    <title>@ViewBag.Title</title>
    @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
    {
        <link rel="icon" href="@GlobalAppSettings.AzureBlob.AzureBlobStorageUri/@GlobalAppSettings.AzureBlob.AzureBlobStorageContainerName/@GlobalAppSettings.GetStorageMode()/Content/Images/Application/@GlobalAppSettings.SystemSettings.FavIcon" onerror="if (this.href != '~/Content/Images/Application/Favicon.png') this.href = '~/Content/Images/Application/Favicon.png';" />
    }
    else
    {
        <link rel="icon" href="~/Content/Images/Application/@GlobalAppSettings.SystemSettings.FavIcon" onerror="if (this.href != '~/Content/Images/Application/Favicon.png') this.href = '~/Content/Images/Application/Favicon.png';" />
    }

    <script>
        i_am_ie9 = false;
    </script>
    <!--[if LT IE  10]>
        <script>
            i_am_ie9 = true;
        </script>
    <![endif]-->
</head>
<body>
    <div id="alert-notification"></div>
    <div class="login-master">
        <div class="login-main no-padding">
            <div id="login-container" class="login-container">
                <div class="login-inner-container">
                    <div class="login-logo">
                        <div>
                            @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
                            {
                                <img src="@GlobalAppSettings.AzureBlob.AzureBlobStorageUri/@GlobalAppSettings.AzureBlob.AzureBlobStorageContainerName/@GlobalAppSettings.GetStorageMode()/Content/Images/Application/@GlobalAppSettings.SystemSettings.LoginLogo" onerror="if (this.src != '/Content/Images/Application/Login_Logo.png') this.src = '/Content/Images/Application/Login_Logo.png';" />
                            }
                            else
                            {
                                <img src="@Url.Content("~/Content/Images/Application/" + GlobalAppSettings.SystemSettings.LoginLogo)" onerror="if (this.src != '@Url.Content("~/Content/Images/Application/Login_Logo.png")') this.src = '@Url.Content("~/Content/Images/Application/Login_Logo.png")';" />
                            }
                        </div>
                    </div>
                    <img src="@Url.Content("~/Content/Images/divider_light.png")" class="upper-divider" />
                    <div class="org-name">@GlobalAppSettings.SystemSettings.OrganizationName</div>
                    <div class="float-center">[[[Forgot your password?]]]</div>
                    <div class="alert-danger invalid-msg text-center"><h5>@ViewBag.ValidationMessage</h5></div>
                    <img src="@Url.Content("~/Content/Images/divider_dark.png")" class="lower-divider top-margin" />
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 forgot-password-caption forgot-section">
                        <span class="remember-text">[[[Know your password?]]]<a type="button" class="btn btn-link link-hover" href="@Url.Action("login","accounts")">[[[Log In]]]</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("../Shared/_Footer")

    @Scripts.Render("~/bundles/scripts/accounts")

</body>
</html>