<html xmlns='http://www.w3.org/1999/xhtml' xmlns:v='urn:schemas-microsoft-com:vml' xmlns:o='urn:schemas-microsoft-com:office:office'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta name='viewport' content='width=device-width'>
</head>
<body style='min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #222222; font-family: Segoe UI, Helvetica, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; width: 100% !important; background: rgb(244,244,244); margin: 0; padding: 10px 0 0;' bgcolor='rgb(244,244,244)'>
    <center style='width: 100%; min-width: 580px;'>
        <table style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;'>
            <tbody>
                <tr style='vertical-align: top; text-align: left; padding: 0;' align='left'>
                    <td class='email-container' style='font-family: Segoe UI, Helvetica, sans-serif; font-weight: normal; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; vertical-align: top; text-align: left; color: #222222; font-family: Segoe UI, Helvetica, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; border-collapse: collapse !important; margin: 0; padding: 0;' align='left' valign='top'>
                        <table class='twelve columns banner-color' style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; background: #EE5250; padding: 0;' bgcolor='#EE5250'>
                            <tbody>
                                <tr style='vertical-align: top; text-align: left; padding: 0;' align='left'>
                                    <td class='email-header' style='font-family: Segoe UI, Helvetica, sans-serif; font-weight: normal; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; vertical-align: top; text-align: left; color: #222222; font-weight: normal; line-height: 19px; font-size: 14px; border-collapse: collapse !important; background: #EE5250; margin: 0;' align='left' bgcolor='#EE5250' valign='top'>
                                        <table class='twelve columns' style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; padding: 0;'>
                                            <tbody>
                                                <tr style='vertical-align: top; text-align: left; padding: 0;' align='left'>
                                                    <td class='title' style='font-family: Segoe UI, Helvetica, sans-serif; font-weight: normal; vertical-align: top;' valign='top'>
                                                        <p class='login' style='color: #ffffff; font-size: 10px; margin: 15px 20px 0px 528px;'>
                                                            @{
                                                                var formatedHyperlink = "<a class='loginlink' href='" + @Model.BaseUrl + "//" + @Model.Language + "/accounts/login' style='color: #ffffff; font-size: 10px; font-family: Segoe UI, Helvetica, sans-serif; text-decoration: none;'>LOGIN</a>";
                                                            }
                                                            @formatedHyperlink
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr style='vertical-align: top; text-align: left; padding: 0;' align='left'>
                                                    <td style='font-family: Segoe UI, Helvetica, sans-serif;'>
                                                        <p class='companyname' style='font-size: 16px; font-weight: 600; margin-bottom: 0px; margin-left: 38px; margin-top: 14px; color: #ffffff;'>
                                                            @Model.OrganizationName
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr style='vertical-align: top; text-align: left; padding: 0;' align='left'><td class='symbol' style='padding-top: 11px;'><table class='hr' style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 50px; color: #ffffff; border-top-color: #ffffff; height: 1px; margin-top: -1px; border-top-style: solid; border-top-width: 1px; margin-left: 38px; margin-bottom: 0px; padding: 0;'><tr style='vertical-align: top; text-align: left; padding: 0;' align='left'><td></td></tr></table></td></tr>
                                                <tr style='vertical-align: top; text-align: left; padding: 0;' align='left'><td style='font-family: Segoe UI, Helvetica, sans-serif; padding-top: 30px;'><p class='titleupdate' style='font-size: 28px; color: #ffffff; margin-top: 11px; margin-left: 38px; font-weight: lighter; margin-bottom: 25px;'>Active Directory Synchronization failed</p></td></tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table><table class='twelve columns' style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; padding: 0;'>
                            <tbody>
                                <tr style='vertical-align: top; text-align: left; padding: 0;' align='left'>
                                    <td class='message-body' style='word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; vertical-align: top; text-align: left; color: #222222; font-family: Segoe UI, Helvetica, sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; border-collapse: collapse !important; background: white; margin: 0; padding: 0;' align='left' bgcolor='white' valign='top'>
                                        <table class='twelve columns' style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; padding: 0;'>
                                            <tbody>
                                                <tr style='vertical-align: top; text-align: left; padding: 0;' align='left'>
                                                    <td class='activation-msg' style='word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; vertical-align: top; text-align: left; color: #222222; font-weight: normal; line-height: 19px; font-size: 14px; border-collapse: collapse !important; margin: 0;' align='left' valign='top'>
                                                        <table class='twelve columns expand' style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; padding: 0;'>
                                                            <tr style='vertical-align: top; text-align: left; padding: 0;' align='left'>
                                                                <td style='font-family: Segoe UI, Helvetica, sans-serif;'>
                                                                    <p class='hello' style='vertical-align: top; margin-bottom: 0px; margin-top: 28px; color: #353535; margin-left: 38px; font-weight: 700; font-size: 12px;'>
                                                                        Hello
                                                                        @Model.DisplayName
                                                                        ,
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr style='vertical-align: top; text-align: left; padding: 0;' align='left'><td style='font-family: Segoe UI, Helvetica, sans-serif;'><p class='bodyupdated' style='vertical-align: bottom; margin-top: 12px; color: #353535; margin-left: 38px; margin-bottom: 12px; font-size: 12px;'>Users and groups of Report Server failed to synchronize with Active Directory due to the following error,</p></td></tr>
                                                        </table><table class='twelve columns expand' style='width: 100%;'>
                                                            <tbody>
                                                                <tr>
                                                                    <td style='font-family: Segoe UI, Helvetica, sans-serif;'>
                                                                        <p style='padding-top: 5px; margin-bottom: 0px; margin-left: 42px; color: #EF5350; font-size: 12px; margin-top: 0px;' class='contact-administrator'>                                                                            
                                                                            The Active Directory settings not configured or connecting to Active Directory failed.                                                                            
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table><table class='twelve columns expand' style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; padding: 0;'>
                                                            <tr style='vertical-align: top; text-align: left; padding: 0;' align='left'><td style='font-family: Segoe UI, Helvetica, sans-serif;'><p class='regards' style='margin-top: 17px; margin-bottom: 0px; margin-left: 38px; color: #353535; font-size: 12px;'>Regards,</p></td></tr>
                                                            <tr style='vertical-align: top; text-align: left; padding: 0;' align='left'>
                                                                <td style='font-family: Segoe UI, Helvetica, sans-serif;'>
                                                                    <p class='bottom-name' style='margin-top: 6px; margin-bottom: 64px; margin-left: 38px; color: #353535; font-size: 12px;'>
                                                                        @Model.OrganizationName
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>";