<html xmlns='http://www.w3.org/1999/xhtml' xmlns:v='urn:schemas-microsoft-com:vml' xmlns:o='urn:schemas-microsoft-com:office:office'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <meta name='viewport' content='width=device-width'>
</head>
<body style='min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #222222; font-family: Segoe UI, Helvetica, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; width: 100% !important; background: rgb(244,244,244); margin: 0; padding: 10px 0 0;' bgcolor='rgb(244,244,244)'>   
     <style type='text/css'>
        .firebugResetStyles:before {
            content: '' !important;
        }

        .firebugResetStyles:after {
            content: '' !important;
        }

        .firebugResetStyles:before {
            content: '' !important;
        }

        .firebugResetStyles:after {
            content: '' !important;
        }
    </style><center style='width: 100%; min-width: 580px;'>
        <table style='border-spacing:0; border-collapse:collapse; vertical-align:top; text-align:left; padding:0'>
            <tbody>
                <tr align='left' style='vertical-align:top; text-align:left; padding:0'>
                    <td valign='top' align='left' style='word-break:break-word; vertical-align:top; text-align:left; color:#222222; font-weight:normal; line-height:19px; font-size:14px; border-collapse:collapse!important; margin:0; padding:0' class='x_email-container'>
                        <table bgcolor='#2196F3' style='border-spacing:0; border-collapse:collapse; vertical-align:top; text-align:left; background:#2196F3; padding:0' class='x_twelve x_columns x_banner-color'>
                            <tbody>
                                <tr align='left' style='vertical-align:top; text-align:left; padding:0'>
                                    <td valign='top' bgcolor='#2196F3' align='left' style='width: 584px; vertical-align: top; text-align: left; color: rgb(34, 34, 34); font-weight: normal; line-height: 19px; font-size: 14px; border-collapse: collapse ! important; background: rgb(33, 150, 243) none repeat scroll 0% 0%; margin: 0px; padding: 0px 0px 30px;'>                                        
                                        <table style='border-spacing: 0px; border-collapse: collapse; float: left; vertical-align: middle; text-align: left; width: 100%;' class='x_twelve x_columns'>
                                            <tbody>
                                                <tr align='left' style='vertical-align: top; text-align: left; padding: 0px 10px;'>
                                                    <td valign='top' style='vertical-align: top; padding: 0px 30px;'>
                                                        <p style='color: rgb(255, 255, 255); margin-bottom: 0px; margin-top: 15px; font-size: 10px; text-align: right;'>
                                                            @{
                                                                var formatedHyperlink = "<a class='loginlink' href='" + @Model.BaseUrl + "//" + @Model.Language + "/accounts/login' style='color: #ffffff; font-size: 10px; font-family: Segoe UI, Helvetica, sans-serif; text-decoration: none;'>LOGIN</a>";
                                                            }
                                                            @formatedHyperlink
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr align='left' style='vertical-align:top; text-align:left; padding:0'>
                                                    <td style='padding: 0px 42px;'>
                                                        <p style='font-size: 16px; margin-bottom: 5px; margin-top: 14px; color: rgb(255, 255, 255); font-family: Segoe UI, Helvetica, sans-serif; font-weight: 600;'>
                                                            @Model.OrganizationName
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr align='left' style='vertical-align:top; text-align:left; padding:0'>
                                                    <td style='padding: 0px 42px 0 42px;'>
                                                        <table style='border-spacing: 0px; border-collapse: collapse; vertical-align: top; text-align: left; width: 50px; color: rgb(255, 255, 255); border-top: 1px solid rgb(255, 255, 255); height: 1px; margin-bottom: 0px; padding: 0px; margin-top: 11px;'><tbody><tr align='left' style='vertical-align:top; text-align:left; padding:0'><td></td></tr></tbody></table>
                                                    </td>
                                                </tr>
                                                <tr align='left' style='vertical-align: top; text-align: left;'><td style='padding: 0 10px 0 42px; font-family: Segoe UI, Helvetica, sans-serif; color: rgb(255, 255, 255); font-weight: lighter;'><p style='margin-top: 45px; margin-bottom: 5px; font-size: 28px;'>Azure AD Synchronization successful</p></td></tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table><table style='border-spacing:0; border-collapse:collapse; vertical-align:top; text-align:left; padding:0' class='x_twelve x_columns'>
                            <tbody>
                                <tr align='left' style='vertical-align:top; text-align:left; padding:0'>                                   
                                     <td valign='top' bgcolor='white' align='left' style='word-break:break-word; vertical-align:top; text-align:left; color:#222222; font-weight:normal; line-height:19px; font-size:14px; width:584px; border-collapse:collapse!important; background:white; margin:0'>
                                        <table style='border-spacing:0; border-collapse:collapse; vertical-align:top; text-align:left; padding:0' class='x_twelve x_columns x_expand'>
                                            <tbody>
                                                <tr align='left' style='vertical-align:top; text-align:left; padding:0'>
                                                    <td style='font-family: Segoe UI, Helvetica, sans-serif;'>
                                                        <p style='vertical-align:top; margin-bottom:0px; margin-top:28px; color:#353535; margin-left:38px; font-weight:700; font-size:12px'>
                                                            Hello
                                                            @Model.DisplayName
                                                            ,
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr align='left' style='vertical-align:top; text-align:left; padding:0'>
                                                    <td style='font-family: Segoe UI, Helvetica, sans-serif;'>
                                                        <p style='vertical-align: bottom; margin-top: 12px; color: rgb(53, 53, 53); margin-left: 38px; margin-bottom: 12px; font-size: 12px;'>Users and groups in Report Server have been successfully synchronized with your azure AD.</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table><table style='border-spacing:0px; border-collapse:collapse; vertical-align:top; text-align:left; width:500px; height:104px; margin-left:38px; padding:0; border:1px solid #d8d8d8'>
                                            <tbody>
                                                <tr align='left' style='vertical-align:top; text-align:left; padding:0'><th style='width:200px; height:25px; word-break:break-word; border:1px solid #d8d8d8'><p style='color:#353535; font-size:12px; width:75px; margin-left:5px; font-style:normal; margin-top:0px; margin-bottom:0px' class='x_field'>Users</p></th><th style='width:200px; height:25px; word-break:break-word; border:1px solid #d8d8d8' class='x_datavalue'><p style='color:#353535; font-size:12px; width:195px; word-break:break-word; margin-left:5px; font-weight:bold; margin-top:0px; margin-bottom:0px; border:1px' class='x_value'>Groups</p></th></tr>
                                                <tr align='left' style='vertical-align:top; text-align:left; padding:0'>
                                                    <td style='width: 200px; height: 25px; border: 1px solid rgb(216, 216, 216); font-family: Segoe UI, Helvetica, sans-serif;'>
                                                        <table style='color: rgb(53, 53, 53); font-size: 12px; margin: 10px 0px; padding: 0px 0px 0px 20px;'>
                                                            <tr style='padding: 2px 0px 2px 10px;'>
                                                                <td style='padding: 0px 5px; margin: 0px; line-height: 12px; font-family: Segoe UI, Helvetica, sans-serif;'>&bull;</td>
                                                                <td style='padding: 0px; margin: 0px; line-height: 12px; font-family: Segoe UI, Helvetica, sans-serif;'>
                                                                    @Model.ModifiedUser  user details were modified
                                                                </td>
                                                            </tr>

                                                            <tr style='padding: 2px 0px 2px 10px;'>

                                                                <td style='padding: 0px 5px; margin: 0px; line-height: 12px; font-family: Segoe UI, Helvetica, sans-serif;'>&bull;</td>
                                                                <td style='padding: 0px; margin: 0px; line-height: 12px; font-family: Segoe UI, Helvetica, sans-serif;'>
                                                                    @Model.DeletedUser  user(s) were deleted
                                                                </td>
                                                            </tr>

                                                            <tr style='padding: 2px 0px 2px 10px;'>
                                                                <td style='padding: 0px 5px; margin: 0px; line-height: 12px; font-family: Segoe UI, Helvetica, sans-serif;'>&bull;</td>
                                                                <td style='padding: 0px; margin: 0px; line-height: 12px; font-family: Segoe UI, Helvetica, sans-serif;'>
                                                                    @Model.DuplicatedUser
                                                                    duplicate user(s) exists <br />(Username or Email address already exists)
                                                                </td>
                                                            </tr>

                                                            <tr style='padding: 2px 0px 2px 10px;'>
                                                                <td style='padding: 0px 5px; margin: 0px; line-height: 12px; font-family: Segoe UI, Helvetica, sans-serif;'>&bull;</td>
                                                                <td style='padding: 0px; margin: 0px; line-height: 12px; font-family: Segoe UI, Helvetica, sans-serif;'>
                                                                    @Model.InValidUser   invalid user(s) exists <br />(Username or Email address is Invalid)
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td style='width:200px; height:25px; word-break:break-word; border:1px solid #d8d8d8'>
                                                        <table style='color:#353535; font-family: Segoe UI, Helvetica, sans-serif; font-size:12px; margin:10px 0; padding:0 0 0 20px'>
                                                            <tr style='padding: 2px 0px 2px 10px;'>
                                                                <td style='padding: 0px 5px; margin: 0px; line-height: 12px; font-family: Segoe UI, Helvetica, sans-serif;'>&bull;</td>
                                                                <td style='padding: 0px; margin: 0px; line-height: 12px; font-family: Segoe UI, Helvetica, sans-serif;'>
                                                                    @Model.ModifiedGroup   Group Details were modified
                                                                </td>
                                                            </tr>

                                                            <tr style='padding: 2px 0px 2px 10px;'>
                                                                <td style='padding: 0px 5px; margin: 0px; line-height: 12px; font-family: Segoe UI, Helvetica, sans-serif;'>&bull;</td>
                                                                <td style='padding: 0px; margin: 0px; line-height: 12px; font-family: Segoe UI, Helvetica, sans-serif;'>
                                                                    @Model.DeletedGroup  Group(s) were deleted
                                                                </td>
                                                            </tr>
                                                            <tr style='padding: 2px 0px 2px 10px;'>
                                                                <td style='padding: 0px 5px; margin: 0px; line-height: 12px; font-family: Segoe UI, Helvetica, sans-serif;'>&bull;</td>
                                                                <td style='padding: 0px; margin: 0px; line-height: 12px; font-family: Segoe UI, Helvetica, sans-serif;'>
                                                                    @Model.DuplicatedGroup  duplicate group(s) exists <br />(Group name already exists)
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table><table style='border-spacing:0; border-collapse:collapse; vertical-align:top; text-align:left; padding:0' class='x_twelve x_columns x_expand'>
                                            <tbody>
                                                <tr align='left' style='vertical-align:top; text-align:left; padding:0'>
                                                    <td style='font-family: Segoe UI, Helvetica, sans-serif;'><p style='margin-top:17px; margin-bottom:0px; margin-left:38px; color:#353535; font-size:12px'>Regards,</p></td>
                                                </tr>
                                                <tr align='left' style='vertical-align:top; text-align:left; padding:0'>
                                                    <td style='font-family: Segoe UI, Helvetica, sans-serif;'>
                                                        <p style='margin-top: 6px; margin-bottom: 64px; margin-left: 38px; color: rgb(53, 53, 53); font-size: 12px;'>
                                                            @Model.OrganizationName
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>";