<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta name='viewport' content='width=device-width'>
</head>
<body style='min-width: 100%; color: #222222; font-weight: normal; line-height: 19px; font-size: 14px; width: 100% !important; background: rgb(244,244,244); padding: 10px 0 0;'>
    <center style='width: 100%; min-width: 580px;'>
        <table>
            <tbody>
                <tr>
                    <td style='word-break: break-word; hyphens: auto; color: #222222;'>
                        <table style='width: 580px; background: #EE5250;'>
                            <tbody>
                                <tr>
                                    <td style='word-break: break-word; hyphens: auto; color: #222222;background: #EE5250;'>
                                        <table style='width: 580px;text-align: left;'>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p style='color: #ffffff; font-size: 10px; font-weight: normal;margin: 15px 20px 0px 528px;'>
                                                            @{
                                                                var formatedHyperlink = "<a href='" + @Model.BaseUrl + "//" + @Model.Language + "/accounts/login' style='color: #ffffff; font-size: 10px; font-family: Segoe UI, Helvetica, sans-serif; text-decoration: none;'>LOGIN</a>";
                                                            }
                                                            @formatedHyperlink
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p style='font-size: 16px; font-weight: 600;font-family: Segoe UI, Helvetica, sans-serif; margin-left: 38px; margin-top: 14px; color: #ffffff;'>
                                                            @Model.OrganizationName
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr><td style='padding-top: 11px;'><table style='width: 50px; color: #ffffff; border-top-color: #ffffff; height: 1px; margin-top: -1px; border-top-style: solid; border-top-width: 1px; margin-left: 38px;'><tr style='vertical-align: top; padding: 0;'><td></td></tr></table></td></tr>
                                                <tr>
                                                    <td style='padding-top: 30px;'>
                                                        <p style='font-size: 28px; color: #ffffff; margin-top: 11px; margin-left: 38px; font-weight: lighter;font-family: Segoe UI, Helvetica, sans-serif; margin-bottom: 25px;'>
                                                            @{
                                                                var title = ((@Model.UserType).ToString().ToLower() == "ActiveDirectoryUser".ToLower()) ? "Active Directory" : (@Model.UserType).ToString().ToLower() == "AzureADUser".ToLower() ? "Azure Active Directory" : "Database";
                                                            }
                                                            @title
                                                            Synchronization failed
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table><table style='width: 580px;'>
                            <tbody>
                                <tr>
                                    <td style='word-break: break-word; hyphens: auto; color: #222222;background: white;'>
                                        <table style='width: 580px;'>
                                            <tbody>
                                                <tr>
                                                    <td style='word-break: break-word; hyphens: auto;color: #222222;'>
                                                        <table style='width: 580px;text-align:left;'>
                                                            <tr>
                                                                <td>
                                                                    <p style='font-family: Segoe UI, Helvetica, sans-serif; margin-top: 28px; color: #353535; margin-left: 38px; font-weight: 700; font-size: 12px;'>
                                                                        Hello
                                                                        @Model.DisplayName
                                                                        ,
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr><td><p style='vertical-align: bottom; margin-top: 12px; color: #353535; margin-left: 38px; margin-bottom: 12px; font-family: Segoe UI, Helvetica, sans-serif;font-size: 12px;'>Users and groups of report server failed to synchronize with @title due to the following error.</p></td></tr>
                                                        </table><table style='width: 100%;text-align:left;'>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <p style='padding-top: 5px; margin-left: 42px;font-family: Segoe UI, Helvetica, sans-serif; color: #EF5350; font-size: 12px;'>
                                                                            @Model.Error.Message
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table><table style='width: 580px;text-align:left;'>
                                                            <tr><td><p style='margin-top: 17px; margin-left: 38px;margin-bottom:0px; color: #353535; font-family: Segoe UI, Helvetica, sans-serif;font-size: 12px;'>Regards,</p></td></tr>
                                                            <tr>
                                                                <td>
                                                                    <p style='margin-bottom: 64px; margin-left: 38px; color: #353535;font-family: Segoe UI, Helvetica, sans-serif; font-size: 12px;'>
                                                                        @Model.OrganizationName
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>