<!DOCTYPE html>
@{ 
    Layout = null;
    var CreateAccess = ViewData["CreateAccess"] != null ? Convert.ToBoolean(ViewData["CreateAccess"]) : false;
}
<html class="report-server">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <title>
            New data source popup
        </title>
        <script>
            var addDatasourceUrl = "@Url.Action("createdatasource", "datasources")";
            var testdatasourceconnectionUrl = "@Url.Action("testdatasourceconnection", "datasources")";

            function load() {
                $('[data-toggle="tooltip"]').tooltip();
                if (($(parent.window).width()) > 1400) {
                    $(".dialog").addClass("iframe");
                }

                if (($(parent.window).width()) < 1400) {
                    $(".dialog").removeClass("iframe");
                }
            }
        </script>
        @Styles.Render("~/styles/add-datasource")
        @Scripts.Render("~/scripts/iframe", "~/scripts/add-datasource")
    </head>

@if (CreateAccess)
{
    <body style="background-color:white" onload="load();">
    <div id="PopupContainer" class="col-lg-12 no-padding dialog">
        <div class="col-xs-12 dialog-header">
            <span class="su su-datasource head-icon"></span>
            <span class="popup-title">[[[Create Data Source]]]</span>
            <a href="javascript:void(0);" title="[[[Close]]]" data-toggle="tooltip" data-placement="bottom" class="PopupClose" onclick="parent.onDataSourceDialogClose()"><span class="su su-close"></span></a>
        </div>
        <form id="datasource_popup_module" class="dialog-body col-xs-12 no-padding" autocomplete="off">
            <div class="datasource-btns col-md-12 no-top-margin">
                <div class="pull-right">
                    <input type='button' title='' id="publish_datasource" value='[[[Add]]]' onclick="addNewDataSource()" class='btn primary-button margin-right' tabindex="16">
                    <input type='button' title="" value='[[[Cancel]]]' class='btn secondary-button' onclick="parent.onDataSourceDialogClose()" tabindex="17">
                </div>
            </div>
            <div id='new_datasource_tab_content' class='col-md-12 rdl-datasource-tab-contents'>
                <div class='col-md-12 no-top-margin new-datasource-content-holder' id='new_datasource_content_holder'>
                    <table id='datasource_table'>

                        <tr>
                            <td class="col-md-2 text-right">
                                <div class="bottom-margin30">[[[Name]]]<span class="mandatory">*</span></div>
                            </td>
                            <td class="col-md-10">
                                <span>
                                    <input type='text' name="new_datasource_name" id='new_datasource_name' autofocus class='form-control validate-fields bottom-margin30 text' maxlength="255" tabindex="1" />
                                    <span id='datasource_name_validation_error' class='datasource-validation-messages text'></span>
                                    <div id="plugin_validation" class="datasource-validation-messages validation-margin text"></div>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2 text-right">
                                <div class="bottom-margin30">[[[Description]]]</div>
                            </td>
                            <td class="col-md-10">
                                <textarea name="new_datasource_description" id='new_datasource_description' class='form-control bottom-margin30 text' maxlength="1024" tabindex="2"></textarea>
                                <span class="notification help-text">
                                    <span class="help-text-mandatory">*</span>[[[1024 characters maximum]]]
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2 text-right"><div class="bottom-margin30 text">[[[Data Source type]]]</div></td>
                            <td class="col-md-10">
                                @{Html.RenderPartial("~/Views/Items/_DataSourceSupportList.cshtml", ViewBag.DataSource as List<string>);}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2 text-right">
                                <div class="bottom-margin30 text">[[[Connection string]]]<span class="mandatory">*</span></div>
                            </td>
                            <td class="col-md-10">
                                <textarea name="new_datasource_connectionstring" id='new_datasource_connectionstring' class='form-control validate-fields  bottom-margin30 text' tabindex="4"></textarea>
                                <div id='datasource_connstring_validation_error' class='datasource-validation-messages validation-margin text'></div>
                            </td>
                        </tr>
                        <tr id="connect_prop" class="disable_connections">
                            <td class="col-md-2 text-right">
                                <span class="bottom-margin30 text">[[[Connect using:]]]</span>
                            </td>
                            <td class="col-md-10">
                                <div class="full-width connection-types">
                                    <div class="full-width no-margin no-padding">
                                        @Html.RadioButton("connect_using", "Prompt", new { @class = "css-radio", @id = "connect_option_prompt", @checked = "checked" })
                                        @Html.Label("connect_option_prompt", "[[[Credentials supplied by the user running the report]]]", new { @class = "text labels notransition" })
                                    </div>
                                    <div class="full-width connection-sub-types page-indent bottom-margin10 text">
                                        <span>[[[Display the following text to prompt user for a username and password:]]]</span>
                                    </div>
                                    <div class="full-width connection-sub-types page-indent text">
                                        <input type="text" name="prompt_text" id="prompt_text" value="[[[Type or enter a username and password to access the Data Source:]]]" class="form-control connection-type-prompt bottom-margin30 text" tabindex="6" />
                                    </div>
                                    <div class="full-width connection-sub-types page-indent text">
                                        @Html.CheckBox("enable_windows_prompt", new { @class = "material-checkbox nodetext connection-type-prompt", @id = "enable_windows_prompt" })
                                        @Html.Label("enable_windows_prompt", "[[[Use as Windows credentials when connecting to the Data Source]]]", new { @class = "text cbk-labels NotificationContent notransition" })
                                    </div>
                                </div>
                                <div class="full-width connection-types locale-label-align">
                                    <div class="full-width no-margin no-padding text">
                                        @Html.RadioButton("connect_using", "Store", new { @class = "css-radio", @id = "connect_option_store" })
                                        @Html.Label("connect_option_store", "[[[Credentials stored securely in the report server]]]", new { @class = "text labels" })
                                    </div>
                                    <div class="full-width connection-sub-types page-indent" style="padding-left: 17px;">
                                        <table>
                                            <tr>
                                                <td class="col-md-2 text-right">[[[Username]]]:</td>
                                                <td class="col-md-10">
                                                    <input type="text" name="connection_stored_username" class="form-control connection-type-server validate-fields edit-text-fields text" id="connection_stored_username" style="width: 250px;" tabindex="9" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-2 text-right">[[[Password]]]:</td>
                                                <td class="col-md-10">
                                                    <input type="password" name="connection_stored_password" class="form-control connection-type-server validate-fields edit-text-fields text" id="connection_stored_password" style="width: 250px;" tabindex="10" />
                                                    <span class="su su-eye ViewGreen showHidePassword"></span>
                                                </td>
                                            </tr>
                                        </table>
                                        <span id="datasource_credential_validation_error1" class="datasource-validation-messages username-error validation-margin-credentials text"></span>
                                        <span id="datasource_credential_validation_error2" class="datasource-validation-messages password-error validation-margin-credentials text"></span>
                                    </div>
                                    <div class="full-width connection-sub-types page-indent text">
                                        @Html.CheckBox("enable_windows_stored", new { @class = "material-checkbox nodetext connection-type-server", @id = "enable_windows_stored", @disabled = "disabled" })
                                        @Html.Label("enable_windows_stored", "[[[Use as Windows credentials when connecting to the Data Source]]]", new { @class = "text cbk-labels NotificationContent notransition" })
                                    </div>
                                    <div class="full-width connection-sub-types page-indent text disable_impersonate locale-label-align">
                                        @Html.CheckBox("enable_impersonate", new { @class = "material-checkbox nodetext connection-type-server", @id = "enable_impersonate", @disabled = "disabled" })
                                        @Html.Label("enable_impersonate", "[[[Impersonate the authenticated user after a connection has been made to the Data Source]]]", new { @class = "text cbk-labels NotificationContent notransition" })
                                    </div>
                                </div>
                                <div class="full-width connection-types text locale-label-align">
                                    @Html.RadioButton("connect_using", "Integrated", new { @class = "css-radio", @id = "connect_option_windows" })
                                    @Html.Label("connect_option_windows", "[[[Windows Integrated Security]]]", new { @class = "text labels" })
                                </div>
                                <div class="full-width connection-types text">
                                    @Html.RadioButton("connect_using", "None", new { @class = "css-radio", @id = "connect_option_none" })
                                    @Html.Label("connect_option_none", "[[[Credentials are not required]]]", new { @class = "text labels" })
                                </div>
                                <div class="full-width connection-types">
                                    <input id="test_connection" type="button" value="[[[Test Connection]]]" onclick="onTestDataSourceConnection()" class="btn primary-button" tabindex="15">
                                </div>
                                <div class="full-width text">
                                    <span id="connection_test_validation_error" class="datasource-validation-messages validation-margin-credentials text"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
    </body>
}
else
{
    <body>
        <script>
            $(document).ready(function () {
                parent.onDataSourceDialogClose();
                parent.messageBox("su-datasource", "[[[Add Data Source – Access Denied]]]", "[[[You do not have access to create a Data Source. Please check with your Report Server administrator to obtain access.]]]", "", function () {
                    parent.onCloseMessageBox();
                });
            });

        </script>
    </body>
}
</html>