@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>[[[Welcome to ]]]@GlobalAppSettings.SystemSettings.OrganizationName</title>
    @{var nativeNameTitleCase = Context.GetPrincipalAppLanguageForRequest().GetNativeNameTitleCase();}
    <link rel="icon" href="@Url.Content("~/Content/Images/Application/Startup/Favicon.png")" />
    @Styles.Render("~/styles/system-configuration")
    @Scripts.Render("~/bundles/scripts/include-samples")
    <script src="~/signalr/hubs"></script>
    <script>
        $("body").ejWaitingPopup();
        $("body").ejWaitingPopup("show");
        var includeSampleResourceUrl = "@Url.Action("IncludeSampleResource", "ServerConfiguration")";
        var isNewUms = ("@TempData["isNewUms"]".toLowerCase() === "true");
        $(function () {
            // Declare a proxy to reference the hub.
            var statusTracker = $.connection.signalrHub;
            // Create a function that the hub can call to broadcast messages.
            statusTracker.client.statusMessage = function (message) {
                // Html encode display name and message.
                $(".configuration-status").html(message);
            };
            $.connection.hub.start().done();
        });
        $(document).ready(function () {
            $(document).on("click", "#include-sample-resources", function () {
                var elem = $(".startup-page-conatiner");
                elem.ejWaitingPopup({ text: " " });
                $(".e-text").find(".configuration-status").remove();
                $(".e-text").append('<span class="configuration-status"></span>');
                elem.ejWaitingPopup("show");
                var includeSampleResource = $('input[name=include-samples]:checked').val() == "1" ? true : false;
                $.ajax({
                    type: "POST",
                    data: { includeSampleResources: includeSampleResource, isNewUms: isNewUms },
                    url: includeSampleResourceUrl,
                    success: function (result) {
                        window.location = result.redirectUrl;
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="system-startUp-settings-bg">
        <div class="startup-page-conatiner" id="startup-page-conatiner">
            <div id="system-settings-general">
                <div class="system-settings-startup-logo">
                    <img src="@Url.Content("~/Content/Images/Application/Login_Logo.png")" />
                </div>
                <div class="title">[[[Welcome to ]]]@GlobalAppSettings.SystemSettings.OrganizationName</div>
                <div class="col-md-12 system-settings-page-container" id="system-settings-admins-container">
                    <div id="include-samples-container">
                        <div id="include-samples">
                            <span class="content content-value">
                                [[[Do you want to include sample resources?]]]
                            </span>
                            <div class="col-lg-12 col-md-12 col-sm-12 include-sample">
                                <div class="col-lg-12 col-md-12 col-sm-12 center-include-samples">
                                    <div class="col-lg-3 col-md-3 col-sm-3 ">
                                        <div>
                                            <input type="radio" id="include-yes" class="css-radio" name="include-samples" value="1" checked='checked' />
                                            <label for="include-yes" class="pointer"><span class="text">[[[Yes]]]</span></label>
                                        </div>
                                    </div>
                                    <div class="delete-resource col-lg-3 col-md-3 col-sm-3 ">
                                        <span id="delete-resource-info" class="dropdown-toggle cursor-type" data-toggle="dropdown"><span class="su su-info" title=""></span></span>
                                        <div class="info-detail col-xs-2 dropdown-menu" role="menu">
                                            [[[Sample reports can be deleted in a single click after configuration. Refer to the help ]]] <a href="https://help.syncfusion.com/report-platform/report-server/administration/manage-reports/delete-reports#delete-all-sample-reports" target="_blank">[[[link]]]</a>  [[[for more information]]].
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 ">
                                        <div>
                                            <input type="radio" id="include-no" class="css-radio" name="include-samples" value="0" />
                                            <label for="include-no" class="pointer"><span class="text">[[[No]]]</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="txt-holder btn-holder center-align">
                            <input type="button" tabindex="5" id="include-sample-resources" class="proceed-button" value="[[[Proceed]]]" />
                        </div>
                    </div>
                </div>

            </div>
            @Html.Partial("../Shared/_StartupFooter")
        </div>
    </div>
</body>
</html>